In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_file2012 = "Medicare_Provider_Util_Payment_PUF_CY2012.txt"
data_file2013 = "Medicare_Provider_Util_Payment_PUF_CY2013.txt"
data_file2014 = "Medicare_Provider_Util_Payment_PUF_CY2014.txt"
data_file2015 = "Medicare_Provider_Util_Payment_PUF_CY2015.txt"
data_file2016 = "Medicare_Provider_Util_Payment_PUF_CY2016.txt"
data_file2017 = "Medicare_Provider_Util_Payment_PUF_CY2017.txt"

In [3]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t', nrows=200000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t')
# Drop the null rows
data_df = data_df.dropna()
#data_df.head()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3085632 entries, 8 to 9153266
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 682.7+ MB

In [5]:
#data_df

In [6]:
data_df2012 = data_df.loc[(data_df["HCPCS_CODE"] == "93000") | (data_df["HCPCS_CODE"] == "71020"), :]
data_df2012['year'] = 2012

C:\Users\gleix\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
data_df2012

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_MI,NPPES_CREDENTIALS,NPPES_PROVIDER_GENDER,NPPES_ENTITY_CODE,NPPES_PROVIDER_STREET1,NPPES_PROVIDER_STREET2,NPPES_PROVIDER_CITY,...,LINE_SRVC_CNT,BENE_UNIQUE_CNT,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,STDEV_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,STDEV_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,STDEV_MEDICARE_PAYMENT_AMT,year
68,1003000530,SEMONCHE,AMANDA,M,DO,F,I,1021 PARK AVE,SUITE 203,QUAKERTOWN,...,12.0,12.0,12.0,18.050000,0.000000,75.000000,0.000000,12.033333,5.381470,2012
203,1003001884,SAHA,LUCILLE,T,M.D.,F,I,1397 S LINDEN RD,SUITE A,FLINT,...,52.0,48.0,52.0,18.140000,0.000000,52.000000,0.000000,11.025962,6.076761,2012
599,1003006107,AL-SAAB,SAAD,M,M.D.,M,I,126 E CHURCH ST,SUITE 2100,SOMERSET,...,131.0,96.0,131.0,17.870000,0.000000,60.000000,0.000000,13.095496,3.965088,2012
783,1003007048,FEREIDOUNI,SAM,S,M.D.,M,I,7699 E PINNACLE PEAK RD,SUITE 115,SCOTTSDALE,...,40.0,36.0,40.0,30.480000,0.000000,90.000000,0.000000,21.942000,7.314000,2012
806,1003007048,FEREIDOUNI,SAM,S,M.D.,M,I,7699 E PINNACLE PEAK RD,SUITE 115,SCOTTSDALE,...,43.0,39.0,43.0,18.790000,0.000000,47.000000,0.000000,14.052326,3.590105,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9152074,1992986947,ANAKWENZE,VICKI,M,"M.D,",F,I,5260 S FIGUEROA ST,216,LOS ANGELES,...,48.0,41.0,48.0,20.970000,0.000000,85.000000,0.000000,16.430417,2.396623,2012
9152474,1992992010,HARKER,CHRISTOPHER,O,M.D.,M,I,U OF U HEALTH SCIENCES CENTER DEPARTMENT OF RA...,30 NORTH 1900 EAST #1A071,SALT LAKE CITY,...,387.0,360.0,384.0,10.140698,0.069329,28.000000,0.000000,7.914910,1.203614,2012
9152475,1992992010,HARKER,CHRISTOPHER,O,M.D.,M,I,U OF U HEALTH SCIENCES CENTER DEPARTMENT OF RA...,30 NORTH 1900 EAST #1A071,SALT LAKE CITY,...,54.0,52.0,54.0,10.278704,1.082579,28.611111,2.613474,7.769074,2.073918,2012
9152859,1992995146,HUSSAIN,ZAINAL,M,M.D.,M,I,531 MAPLE AVE,PROVIDER ENROLLMENT,WEST CHESTER,...,73.0,59.0,73.0,20.310000,0.000000,75.000000,0.000000,16.250000,0.000000,2012
9153203,1992999122,JOHNSON,CHARLES,R,D.O.,M,I,1601 CLINT MOORE RD,155,BOCA RATON,...,373.0,338.0,372.0,20.370000,0.000000,30.000000,0.000000,14.964102,4.448418,2012

In [8]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t')
# Drop the null rows
data_df = data_df.dropna()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
data_df2013 = data_df.loc[(data_df["HCPCS_CODE"] == "93000") | (data_df["HCPCS_CODE"] == "71020"), :]
data_df2013['year'] = 2013
data_df2013

C:\Users\gleix\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_MI,NPPES_CREDENTIALS,NPPES_PROVIDER_GENDER,NPPES_ENTITY_CODE,NPPES_PROVIDER_STREET1,NPPES_PROVIDER_STREET2,NPPES_PROVIDER_CITY,...,LINE_SRVC_CNT,BENE_UNIQUE_CNT,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,STDEV_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,STDEV_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,STDEV_MEDICARE_PAYMENT_AMT,year
76,1003000530,SEMONCHE,AMANDA,M,DO,F,I,1021 PARK AVE,SUITE 203,QUAKERTOWN,...,12.0,12.0,12.0,17.420000,0.000000,75.000000,0.000000,13.683333,0.077388,2013
112,1003000936,STELLINGWORTH,MARK,A,MD,M,I,8 RICHLAND MEDICAL PARK DR,SUITE 100,COLUMBIA,...,63.0,57.0,63.0,16.876032,0.110734,52.920635,3.851619,12.811429,2.321521,2013
240,1003001884,SAHA,LUCILLE,T,M.D.,F,I,1397 S LINDEN RD,SUITE A,FLINT,...,43.0,39.0,43.0,17.500000,0.000000,52.000000,0.000000,10.867907,5.591938,2013
648,1003006107,AL-SAAB,SAAD,M,M.D.,M,I,126 E CHURCH ST,SUITE 2100,SOMERSET,...,37.0,30.0,37.0,17.888378,0.954680,57.000000,0.000000,13.637838,2.392395,2013
843,1003007048,FEREIDOUNI,SAM,S,M.D.,M,I,7699 E PINNACLE PEAK RD,SUITE 115,SCOTTSDALE,...,36.0,34.0,36.0,30.470000,0.000000,90.000000,0.000000,20.029722,8.681489,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9286573,1992986962,POOLE,LENA,A,MD,F,I,1250 S CAPITAL OF TEXAS HWY,"BUILDING 1, SUITE 500",WEST LAKE HILLS,...,12.0,12.0,12.0,30.455000,0.943968,54.500000,0.500000,22.055000,6.697806,2013
9287017,1992992010,HARKER,CHRISTOPHER,O,M.D.,M,I,U OF U HEALTH SCIENCES CENTER DEPARTMENT OF RA...,30 NORTH 1900 EAST #1A071,SALT LAKE CITY,...,351.0,316.0,350.0,10.097208,0.451654,28.000000,0.000000,7.442279,1.977970,2013
9287018,1992992010,HARKER,CHRISTOPHER,O,M.D.,M,I,U OF U HEALTH SCIENCES CENTER DEPARTMENT OF RA...,30 NORTH 1900 EAST #1A071,SALT LAKE CITY,...,37.0,37.0,37.0,13.063243,6.690081,36.432432,19.243167,6.789189,5.818761,2013
9287388,1992995146,HUSSAIN,ZAINAL,M,M.D.,M,I,531 MAPLE AVE,PROVIDER ENROLLMENT,WEST CHESTER,...,292.0,160.0,292.0,19.514075,0.420650,74.847397,2.911005,14.837877,2.756484,2013
9287808,1992999122,JOHNSON,CHARLES,R,D.O.,M,I,1601 CLINT MOORE RD,155,BOCA RATON,...,447.0,420.0,447.0,19.650000,0.000000,30.000000,0.000000,14.386756,3.899923,2013

In [10]:
data_df2013.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49667 entries, 76 to 9287808
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NPI                               49667 non-null  int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      49667 non-null  object
 2   NPPES_PROVIDER_FIRST_NAME         49667 non-null  object
 3   NPPES_PROVIDER_MI                 49667 non-null  object
 4   NPPES_CREDENTIALS                 49667 non-null  object
 5   NPPES_PROVIDER_GENDER             49667 non-null  object
 6   NPPES_ENTITY_CODE                 49667 non-null  object
 7   NPPES_PROVIDER_STREET1            49667 non-null  object
 8   NPPES_PROVIDER_STREET2            49667 non-null  object
 9   NPPES_PROVIDER_CITY               49667 non-null  object
 10  NPPES_PROVIDER_ZIP                49667 non-null  object
 11  NPPES_PROVIDER_STATE              49667 non-null  object
 12  NPPES_PROVIDER_COUNTRY            49667 non-null  object
 13  PROVIDER_TYPE                     49667 non-null  object
 14  MEDICARE_PARTICIPATION_INDICATOR  49667 non-null  object
 15  PLACE_OF_SERVICE                  49667 non-null  object
 16  HCPCS_CODE                        49667 non-null  object
 17  HCPCS_DESCRIPTION                 49667 non-null  object
 18  HCPCS_DRUG_INDICATOR              49667 non-null  object
 19  LINE_SRVC_CNT                     49667 non-null  float64
 20  BENE_UNIQUE_CNT                   49667 non-null  float64
 21  BENE_DAY_SRVC_CNT                 49667 non-null  float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      49667 non-null  float64
 23  STDEV_MEDICARE_ALLOWED_AMT        49667 non-null  float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        49667 non-null  float64
 25  STDEV_SUBMITTED_CHRG_AMT          49667 non-null  float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      49667 non-null  float64
 27  STDEV_MEDICARE_PAYMENT_AMT        49667 non-null  float64
 28  year                              49667 non-null  int64
dtypes: float64(9), int64(2), object(18)
memory usage: 11.4+ MB

In [11]:
data_df_total = pd.concat([data_df2012, data_df2013])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99938 entries, 68 to 9287808
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NPI                               99938 non-null  int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      99938 non-null  object
 2   NPPES_PROVIDER_FIRST_NAME         99938 non-null  object
 3   NPPES_PROVIDER_MI                 99938 non-null  object
 4   NPPES_CREDENTIALS                 99938 non-null  object
 5   NPPES_PROVIDER_GENDER             99938 non-null  object
 6   NPPES_ENTITY_CODE                 99938 non-null  object
 7   NPPES_PROVIDER_STREET1            99938 non-null  object
 8   NPPES_PROVIDER_STREET2            99938 non-null  object
 9   NPPES_PROVIDER_CITY               99938 non-null  object
 10  NPPES_PROVIDER_ZIP                99938 non-null  object
 11  NPPES_PROVIDER_STATE              99938 non-null  object
 12  NPPES_PROVIDER_COUNTRY            99938 non-null  object
 13  PROVIDER_TYPE                     99938 non-null  object
 14  MEDICARE_PARTICIPATION_INDICATOR  99938 non-null  object
 15  PLACE_OF_SERVICE                  99938 non-null  object
 16  HCPCS_CODE                        99938 non-null  object
 17  HCPCS_DESCRIPTION                 99938 non-null  object
 18  HCPCS_DRUG_INDICATOR              99938 non-null  object
 19  LINE_SRVC_CNT                     99938 non-null  float64
 20  BENE_UNIQUE_CNT                   99938 non-null  float64
 21  BENE_DAY_SRVC_CNT                 99938 non-null  float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      99938 non-null  float64
 23  STDEV_MEDICARE_ALLOWED_AMT        99938 non-null  float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        99938 non-null  float64
 25  STDEV_SUBMITTED_CHRG_AMT          99938 non-null  float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      99938 non-null  float64
 27  STDEV_MEDICARE_PAYMENT_AMT        99938 non-null  float64
 28  year                              99938 non-null  int64
dtypes: float64(9), int64(2), object(18)
memory usage: 22.9+ MB

In [12]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2014),sep='\t')
# Drop the null rows
data_df = data_df.dropna()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3085446 entries, 9 to 9316301
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 635.6+ MB

In [17]:
data_df.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt',
       'average_Medicare_standard_amt'],
      dtype='object')

In [24]:
data_df_total.columns

data_df_total.drop(['STDEV_MEDICARE_ALLOWED_AMT', 'STDEV_SUBMITTED_CHRG_AMT','STDEV_MEDICARE_PAYMENT_AMT'], axis=1, inplace=True)

In [26]:
data_df_total.columns

Index(['NPI', 'NPPES_PROVIDER_LAST_ORG_NAME', 'NPPES_PROVIDER_FIRST_NAME',
       'NPPES_PROVIDER_MI', 'NPPES_CREDENTIALS', 'NPPES_PROVIDER_GENDER',
       'NPPES_ENTITY_CODE', 'NPPES_PROVIDER_STREET1', 'NPPES_PROVIDER_STREET2',
       'NPPES_PROVIDER_CITY', 'NPPES_PROVIDER_ZIP', 'NPPES_PROVIDER_STATE',
       'NPPES_PROVIDER_COUNTRY', 'PROVIDER_TYPE',
       'MEDICARE_PARTICIPATION_INDICATOR', 'PLACE_OF_SERVICE', 'HCPCS_CODE',
       'HCPCS_DESCRIPTION', 'HCPCS_DRUG_INDICATOR', 'LINE_SRVC_CNT',
       'BENE_UNIQUE_CNT', 'BENE_DAY_SRVC_CNT', 'AVERAGE_MEDICARE_ALLOWED_AMT',
       'AVERAGE_SUBMITTED_CHRG_AMT', 'AVERAGE_MEDICARE_PAYMENT_AMT', 'year'],
      dtype='object')

In [27]:
data_df_total.columns = ['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt',
       'year']

data_df_total.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt', 'year'],
      dtype='object')

In [30]:
data_df2014 = data_df.loc[(data_df["hcpcs_code"] == "93000") | (data_df["hcpcs_code"] == "71020"), :]
data_df2014['year'] = 2014

data_df2014.drop('average_Medicare_standard_amt', axis=1, inplace=True)


data_df2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48391 entries, 110 to 9316226
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   npi                               48391 non-null  int64
 1   nppes_provider_last_org_name      48391 non-null  object
 2   nppes_provider_first_name         48391 non-null  object
 3   nppes_provider_mi                 48391 non-null  object
 4   nppes_credentials                 48391 non-null  object
 5   nppes_provider_gender             48391 non-null  object
 6   nppes_entity_code                 48391 non-null  object
 7   nppes_provider_street1            48391 non-null  object
 8   nppes_provider_street2            48391 non-null  object
 9   nppes_provider_city               48391 non-null  object
 10  nppes_provider_zip                48391 non-null  object
 11  nppes_provider_state              48391 non-null  object
 12  nppes_provider_country            48391 non-null  object
 13  provider_type                     48391 non-null  object
 14  medicare_participation_indicator  48391 non-null  object
 15  place_of_service                  48391 non-null  object
 16  hcpcs_code                        48391 non-null  object
 17  hcpcs_description                 48391 non-null  object
 18  hcpcs_drug_indicator              48391 non-null  object
 19  line_srvc_cnt                     48391 non-null  float64
 20  bene_unique_cnt                   48391 non-null  float64
 21  bene_day_srvc_cnt                 48391 non-null  float64
 22  average_Medicare_allowed_amt      48391 non-null  float64
 23  average_submitted_chrg_amt        48391 non-null  float64
 24  average_Medicare_payment_amt      48391 non-null  float64
 25  year                              48391 non-null  int64
dtypes: float64(6), int64(2), object(18)
memory usage: 10.0+ MB

C:\Users\gleix\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\gleix\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [31]:
data_df_total = pd.concat([data_df_total, data_df2014])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148329 entries, 68 to 9316226
Data columns (total 26 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   npi                               148329 non-null  int64
 1   nppes_provider_last_org_name      148329 non-null  object
 2   nppes_provider_first_name         148329 non-null  object
 3   nppes_provider_mi                 148329 non-null  object
 4   nppes_credentials                 148329 non-null  object
 5   nppes_provider_gender             148329 non-null  object
 6   nppes_entity_code                 148329 non-null  object
 7   nppes_provider_street1            148329 non-null  object
 8   nppes_provider_street2            148329 non-null  object
 9   nppes_provider_city               148329 non-null  object
 10  nppes_provider_zip                148329 non-null  object
 11  nppes_provider_state              148329 non-null  object
 12  nppes_provider_country            148329 non-null  object
 13  provider_type                     148329 non-null  object
 14  medicare_participation_indicator  148329 non-null  object
 15  place_of_service                  148329 non-null  object
 16  hcpcs_code                        148329 non-null  object
 17  hcpcs_description                 148329 non-null  object
 18  hcpcs_drug_indicator              148329 non-null  object
 19  line_srvc_cnt                     148329 non-null  float64
 20  bene_unique_cnt                   148329 non-null  float64
 21  bene_day_srvc_cnt                 148329 non-null  float64
 22  average_Medicare_allowed_amt      148329 non-null  float64
 23  average_submitted_chrg_amt        148329 non-null  float64
 24  average_Medicare_payment_amt      148329 non-null  float64
 25  year                              148329 non-null  int64
dtypes: float64(6), int64(2), object(18)
memory usage: 30.6+ MB

In [32]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2015),sep='\t')
# Drop the null rows
data_df = data_df.dropna()

In [33]:
data_df2015 = data_df.loc[(data_df["hcpcs_code"] == "93000") | (data_df["hcpcs_code"] == "71020"), :]
data_df2015['year'] = 2015

data_df2015.drop('average_Medicare_standard_amt', axis=1, inplace=True)


data_df2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48078 entries, 85 to 9497803
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   npi                               48078 non-null  int64
 1   nppes_provider_last_org_name      48078 non-null  object
 2   nppes_provider_first_name         48078 non-null  object
 3   nppes_provider_mi                 48078 non-null  object
 4   nppes_credentials                 48078 non-null  object
 5   nppes_provider_gender             48078 non-null  object
 6   nppes_entity_code                 48078 non-null  object
 7   nppes_provider_street1            48078 non-null  object
 8   nppes_provider_street2            48078 non-null  object
 9   nppes_provider_city               48078 non-null  object
 10  nppes_provider_zip                48078 non-null  object
 11  nppes_provider_state              48078 non-null  object
 12  nppes_provider_country            48078 non-null  object
 13  provider_type                     48078 non-null  object
 14  medicare_participation_indicator  48078 non-null  object
 15  place_of_service                  48078 non-null  object
 16  hcpcs_code                        48078 non-null  object
 17  hcpcs_description                 48078 non-null  object
 18  hcpcs_drug_indicator              48078 non-null  object
 19  line_srvc_cnt                     48078 non-null  float64
 20  bene_unique_cnt                   48078 non-null  float64
 21  bene_day_srvc_cnt                 48078 non-null  float64
 22  average_Medicare_allowed_amt      48078 non-null  float64
 23  average_submitted_chrg_amt        48078 non-null  float64
 24  average_Medicare_payment_amt      48078 non-null  float64
 25  year                              48078 non-null  int64
dtypes: float64(6), int64(2), object(18)
memory usage: 9.9+ MB

C:\Users\gleix\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [34]:
data_df_total = pd.concat([data_df_total, data_df2015])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196407 entries, 68 to 9497803
Data columns (total 26 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   npi                               196407 non-null  int64
 1   nppes_provider_last_org_name      196407 non-null  object
 2   nppes_provider_first_name         196407 non-null  object
 3   nppes_provider_mi                 196407 non-null  object
 4   nppes_credentials                 196407 non-null  object
 5   nppes_provider_gender             196407 non-null  object
 6   nppes_entity_code                 196407 non-null  object
 7   nppes_provider_street1            196407 non-null  object
 8   nppes_provider_street2            196407 non-null  object
 9   nppes_provider_city               196407 non-null  object
 10  nppes_provider_zip                196407 non-null  object
 11  nppes_provider_state              196407 non-null  object
 12  nppes_provider_country            196407 non-null  object
 13  provider_type                     196407 non-null  object
 14  medicare_participation_indicator  196407 non-null  object
 15  place_of_service                  196407 non-null  object
 16  hcpcs_code                        196407 non-null  object
 17  hcpcs_description                 196407 non-null  object
 18  hcpcs_drug_indicator              196407 non-null  object
 19  line_srvc_cnt                     196407 non-null  float64
 20  bene_unique_cnt                   196407 non-null  float64
 21  bene_day_srvc_cnt                 196407 non-null  float64
 22  average_Medicare_allowed_amt      196407 non-null  float64
 23  average_submitted_chrg_amt        196407 non-null  float64
 24  average_Medicare_payment_amt      196407 non-null  float64
 25  year                              196407 non-null  int64
dtypes: float64(6), int64(2), object(18)
memory usage: 40.5+ MB

In [35]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2016),sep='\t')
# Drop the null rows
data_df = data_df.dropna()

In [37]:

data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3057776 entries, 13 to 9714889
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  AVERAGE_SUBMITTED_CHRG_AMT        float64
 24  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 25  AVERAGE_MEDICARE_STANDARD_AMT     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 629.9+ MB

In [38]:
data_df2016 = data_df.loc[(data_df["HCPCS_CODE"] == "93000") | (data_df["HCPCS_CODE"] == "71020"), :]
data_df2016['year'] = 2016

data_df2016.drop('AVERAGE_MEDICARE_STANDARD_AMT', axis=1, inplace=True)

data_df2016.columns = ['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt',
       'year']

data_df2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47142 entries, 85 to 9714828
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   npi                               47142 non-null  int64
 1   nppes_provider_last_org_name      47142 non-null  object
 2   nppes_provider_first_name         47142 non-null  object
 3   nppes_provider_mi                 47142 non-null  object
 4   nppes_credentials                 47142 non-null  object
 5   nppes_provider_gender             47142 non-null  object
 6   nppes_entity_code                 47142 non-null  object
 7   nppes_provider_street1            47142 non-null  object
 8   nppes_provider_street2            47142 non-null  object
 9   nppes_provider_city               47142 non-null  object
 10  nppes_provider_zip                47142 non-null  object
 11  nppes_provider_state              47142 non-null  object
 12  nppes_provider_country            47142 non-null  object
 13  provider_type                     47142 non-null  object
 14  medicare_participation_indicator  47142 non-null  object
 15  place_of_service                  47142 non-null  object
 16  hcpcs_code                        47142 non-null  object
 17  hcpcs_description                 47142 non-null  object
 18  hcpcs_drug_indicator              47142 non-null  object
 19  line_srvc_cnt                     47142 non-null  float64
 20  bene_unique_cnt                   47142 non-null  float64
 21  bene_day_srvc_cnt                 47142 non-null  float64
 22  average_Medicare_allowed_amt      47142 non-null  float64
 23  average_submitted_chrg_amt        47142 non-null  float64
 24  average_Medicare_payment_amt      47142 non-null  float64
 25  year                              47142 non-null  int64
dtypes: float64(6), int64(2), object(18)
memory usage: 9.7+ MB

C:\Users\gleix\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
data_df_total = pd.concat([data_df_total, data_df2016])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243549 entries, 68 to 9714828
Data columns (total 26 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   npi                               243549 non-null  int64
 1   nppes_provider_last_org_name      243549 non-null  object
 2   nppes_provider_first_name         243549 non-null  object
 3   nppes_provider_mi                 243549 non-null  object
 4   nppes_credentials                 243549 non-null  object
 5   nppes_provider_gender             243549 non-null  object
 6   nppes_entity_code                 243549 non-null  object
 7   nppes_provider_street1            243549 non-null  object
 8   nppes_provider_street2            243549 non-null  object
 9   nppes_provider_city               243549 non-null  object
 10  nppes_provider_zip                243549 non-null  object
 11  nppes_provider_state              243549 non-null  object
 12  nppes_provider_country            243549 non-null  object
 13  provider_type                     243549 non-null  object
 14  medicare_participation_indicator  243549 non-null  object
 15  place_of_service                  243549 non-null  object
 16  hcpcs_code                        243549 non-null  object
 17  hcpcs_description                 243549 non-null  object
 18  hcpcs_drug_indicator              243549 non-null  object
 19  line_srvc_cnt                     243549 non-null  float64
 20  bene_unique_cnt                   243549 non-null  float64
 21  bene_day_srvc_cnt                 243549 non-null  float64
 22  average_Medicare_allowed_amt      243549 non-null  float64
 23  average_submitted_chrg_amt        243549 non-null  float64
 24  average_Medicare_payment_amt      243549 non-null  float64
 25  year                              243549 non-null  int64
dtypes: float64(6), int64(2), object(18)
memory usage: 50.2+ MB

In [40]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2017),sep='\t')
# Drop the null rows
data_df = data_df.dropna()

In [41]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2877789 entries, 12 to 9847439
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 592.8+ MB

In [42]:
data_df2017 = data_df.loc[(data_df["hcpcs_code"] == "93000") | (data_df["hcpcs_code"] == "71020"), :]
data_df2017['year'] = 2017

data_df2017.drop('average_Medicare_standard_amt', axis=1, inplace=True)

C:\Users\gleix\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [43]:
data_df_total = pd.concat([data_df_total, data_df2017])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287571 entries, 68 to 9847384
Data columns (total 26 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   npi                               287571 non-null  int64
 1   nppes_provider_last_org_name      287571 non-null  object
 2   nppes_provider_first_name         287571 non-null  object
 3   nppes_provider_mi                 287571 non-null  object
 4   nppes_credentials                 287571 non-null  object
 5   nppes_provider_gender             287571 non-null  object
 6   nppes_entity_code                 287571 non-null  object
 7   nppes_provider_street1            287571 non-null  object
 8   nppes_provider_street2            287571 non-null  object
 9   nppes_provider_city               287571 non-null  object
 10  nppes_provider_zip                287571 non-null  object
 11  nppes_provider_state              287571 non-null  object
 12  nppes_provider_country            287571 non-null  object
 13  provider_type                     287571 non-null  object
 14  medicare_participation_indicator  287571 non-null  object
 15  place_of_service                  287571 non-null  object
 16  hcpcs_code                        287571 non-null  object
 17  hcpcs_description                 287571 non-null  object
 18  hcpcs_drug_indicator              287571 non-null  object
 19  line_srvc_cnt                     287571 non-null  float64
 20  bene_unique_cnt                   287571 non-null  float64
 21  bene_day_srvc_cnt                 287571 non-null  float64
 22  average_Medicare_allowed_amt      287571 non-null  float64
 23  average_submitted_chrg_amt        287571 non-null  float64
 24  average_Medicare_payment_amt      287571 non-null  float64
 25  year                              287571 non-null  int64
dtypes: float64(6), int64(2), object(18)
memory usage: 59.2+ MB

In [45]:
output_data_file = "output_data.txt"
#data_df_total.to_csv(output_data_file, index= False, sep='\t')
data_df_total.to_csv(os.path.join("..", "Data", output_data_file), index= False, sep='\t')