In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_file2012 = "Medicare_Provider_Util_Payment_PUF_CY2012.txt"
data_file2013 = "Medicare_Provider_Util_Payment_PUF_CY2013.txt"
data_file2014 = "Medicare_Provider_Util_Payment_PUF_CY2014.txt"
data_file2015 = "Medicare_Provider_Util_Payment_PUF_CY2015.txt"
data_file2016 = "Medicare_Provider_Util_Payment_PUF_CY2016.txt"
data_file2017 = "Medicare_Provider_Util_Payment_PUF_CY2017.txt"
data_updated = "UPDATED.csv"

In [3]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t', nrows=200000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t')
# Drop the null rows that are completely null.
data_df = data_df.dropna(axis='rows', how='all')

#data_df = data_df.dropna(axis='columns', how='all')
#data_df = data_df.dropna()
#data_df.head()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9153273 entries, 0 to 9153272
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 2.0+ GB

In [5]:
#data_df

In [6]:
#data_df2012 = data_df.loc[(data_df["NPI"] == provider_1) | (data_df["NPI"] == provider_2), :]
data_df2012 = data_df
data_df2012['year'] = 2012

In [7]:
data_df2012

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_MI,NPPES_CREDENTIALS,NPPES_PROVIDER_GENDER,NPPES_ENTITY_CODE,NPPES_PROVIDER_STREET1,NPPES_PROVIDER_STREET2,NPPES_PROVIDER_CITY,...,LINE_SRVC_CNT,BENE_UNIQUE_CNT,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,STDEV_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,STDEV_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,STDEV_MEDICARE_PAYMENT_AMT,year
0,1,CPT copyright 2011 American Medical Associatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,115.0,112.0,115.0,135.25,0.0,199.000000,0.000000,108.115652,0.900588,2012
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,93.0,88.0,93.0,198.59,0.0,291.000000,9.591663,158.870000,0.000000,2012
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,111.0,83.0,111.0,38.75,0.0,58.000000,0.000000,30.720721,2.929106,2012
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,544.0,295.0,544.0,70.95,0.0,105.000000,0.000000,56.655662,2.431327,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9153268,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,69.0,69.0,69.0,130.23,0.0,319.884058,24.033513,104.180000,0.000000,2012
9153269,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,99.0,98.0,99.0,191.48,0.0,481.292929,37.827159,153.180000,0.000000,2012
9153270,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,462.0,202.0,462.0,68.59,0.0,174.073593,5.429497,54.779156,1.950507,2012
9153271,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,189.0,105.0,189.0,98.33,0.0,251.444444,7.228203,78.341587,4.365855,2012
9153272,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,164.0,157.0,164.0,101.33,0.0,257.487805,12.107490,80.680488,4.845287,2012

In [8]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t')
# Drop the null rows that are completely null.
data_df = data_df.dropna(axis='rows', how='all')

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
#data_df2013 = data_df.loc[(data_df["NPI"] == provider_1) | (data_df["NPI"] == provider_2), :]
data_df2013 = data_df
data_df2013['year'] = 2013
data_df2013

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_MI,NPPES_CREDENTIALS,NPPES_PROVIDER_GENDER,NPPES_ENTITY_CODE,NPPES_PROVIDER_STREET1,NPPES_PROVIDER_STREET2,NPPES_PROVIDER_CITY,...,LINE_SRVC_CNT,BENE_UNIQUE_CNT,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,STDEV_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,STDEV_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,STDEV_MEDICARE_PAYMENT_AMT,year
0,1,CPT copyright 2012 American Medical Associatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,142.0,138.0,142.0,136.452324,6.028319,368.626761,89.642452,104.299718,17.890405,2013
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,96.0,95.0,96.0,201.320000,0.000000,524.604167,141.760470,155.901146,19.510660,2013
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,61.0,47.0,61.0,38.740000,0.000000,97.000000,29.291637,30.065246,3.891932,2013
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,777.0,381.0,777.0,71.270000,0.000000,187.594595,49.282122,55.091351,7.631141,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9287872,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,169.0,166.0,169.0,194.050000,0.000000,496.000000,0.000000,153.187574,1.674093,2013
9287873,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,317.0,174.0,317.0,68.890000,0.000000,176.640379,6.174386,54.082208,2.160302,2013
9287874,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,275.0,155.0,275.0,99.280000,0.000000,254.000000,0.000000,77.772473,4.528083,2013
9287875,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,145.0,144.0,145.0,102.950000,0.000000,262.000000,0.000000,81.017241,0.642301,2013
9287876,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,23.0,19.0,23.0,213.410000,0.000000,548.608696,2.497636,169.099130,1.703388,2013

In [10]:
data_df2013.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9287877 entries, 0 to 9287876
Data columns (total 29 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
 28  year                              int64
dtypes: float64(9), int64(2), object(18)
memory usage: 2.1+ GB

In [11]:
data_df_total = pd.concat([data_df2012, data_df2013])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18441150 entries, 0 to 9287876
Data columns (total 29 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
 28  year                              int64
dtypes: float64(9), int64(2), object(18)
memory usage: 4.1+ GB

In [12]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2014),sep='\t')
# Drop the null rows that are completely null.
data_df = data_df.dropna(axis='rows', how='all')

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9316308 entries, 0 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [14]:
data_df.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt',
       'average_Medicare_standard_amt'],
      dtype='object')

In [15]:
data_df_total.columns

data_df_total.drop(['STDEV_MEDICARE_ALLOWED_AMT', 'STDEV_SUBMITTED_CHRG_AMT','STDEV_MEDICARE_PAYMENT_AMT'], axis=1, inplace=True)

In [16]:
data_df_total.columns

Index(['NPI', 'NPPES_PROVIDER_LAST_ORG_NAME', 'NPPES_PROVIDER_FIRST_NAME',
       'NPPES_PROVIDER_MI', 'NPPES_CREDENTIALS', 'NPPES_PROVIDER_GENDER',
       'NPPES_ENTITY_CODE', 'NPPES_PROVIDER_STREET1', 'NPPES_PROVIDER_STREET2',
       'NPPES_PROVIDER_CITY', 'NPPES_PROVIDER_ZIP', 'NPPES_PROVIDER_STATE',
       'NPPES_PROVIDER_COUNTRY', 'PROVIDER_TYPE',
       'MEDICARE_PARTICIPATION_INDICATOR', 'PLACE_OF_SERVICE', 'HCPCS_CODE',
       'HCPCS_DESCRIPTION', 'HCPCS_DRUG_INDICATOR', 'LINE_SRVC_CNT',
       'BENE_UNIQUE_CNT', 'BENE_DAY_SRVC_CNT', 'AVERAGE_MEDICARE_ALLOWED_AMT',
       'AVERAGE_SUBMITTED_CHRG_AMT', 'AVERAGE_MEDICARE_PAYMENT_AMT', 'year'],
      dtype='object')

In [17]:
data_df_total.columns = ['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt',
       'year']

data_df_total.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt', 'year'],
      dtype='object')

In [18]:
#data_df2014 = data_df.loc[(data_df["npi"] == provider_1) | (data_df["npi"] == provider_2), :]
data_df2014 = data_df
data_df2014['year'] = 2014

data_df2014.drop('average_Medicare_standard_amt', axis=1, inplace=True)


data_df2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9316308 entries, 0 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  year                              int64
dtypes: float64(6), int64(2), object(18)
memory usage: 1.9+ GB

In [19]:
data_df_total = pd.concat([data_df_total, data_df2014])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27757458 entries, 0 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  year                              int64
dtypes: float64(6), int64(2), object(18)
memory usage: 5.6+ GB

In [20]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2015),sep='\t')
# Drop the null rows that are completely null.
data_df = data_df.dropna(axis='rows', how='all')

In [21]:
#data_df2015 = data_df.loc[(data_df["npi"] == provider_1) | (data_df["npi"] == provider_2), :]
data_df2015 = data_df
data_df2015['year'] = 2015

data_df2015.drop('average_Medicare_standard_amt', axis=1, inplace=True)


data_df2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9497892 entries, 0 to 9497891
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  year                              int64
dtypes: float64(6), int64(2), object(18)
memory usage: 1.9+ GB

In [22]:
data_df_total = pd.concat([data_df_total, data_df2015])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37255350 entries, 0 to 9497891
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  year                              int64
dtypes: float64(6), int64(2), object(18)
memory usage: 7.5+ GB

In [23]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2016),sep='\t')
# Drop the null rows that are completely null.
data_df = data_df.dropna(axis='rows', how='all')

In [24]:

data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9714897 entries, 0 to 9714896
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  AVERAGE_SUBMITTED_CHRG_AMT        float64
 24  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 25  AVERAGE_MEDICARE_STANDARD_AMT     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 2.0+ GB

In [25]:
#data_df2016 = data_df.loc[(data_df["NPI"] == provider_1) | (data_df["NPI"] == provider_2), :]
data_df2016 = data_df
data_df2016['year'] = 2016

data_df2016.drop('AVERAGE_MEDICARE_STANDARD_AMT', axis=1, inplace=True)

data_df2016.columns = ['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt',
       'year']

data_df2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9714897 entries, 0 to 9714896
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  year                              int64
dtypes: float64(6), int64(2), object(18)
memory usage: 2.0+ GB

In [26]:
data_df_total = pd.concat([data_df_total, data_df2016])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46970247 entries, 0 to 9714896
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  year                              int64
dtypes: float64(6), int64(2), object(18)
memory usage: 9.4+ GB

In [27]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2017),sep='\t')
# Drop the null rows that are completely null.
data_df = data_df.dropna(axis='rows', how='all')

In [28]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9847444 entries, 0 to 9847443
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 2.0+ GB

In [29]:
#data_df2017 = data_df.loc[(data_df["npi"] == provider_1) | (data_df["npi"] == provider_2), :]
data_df2017 = data_df
data_df2017['year'] = 2017

data_df2017.drop('average_Medicare_standard_amt', axis=1, inplace=True)

In [30]:
data_df_total = pd.concat([data_df_total, data_df2017])
data_df_total = data_df_total.drop(['nppes_provider_last_org_name', 'nppes_provider_first_name', 'nppes_provider_mi',
                                    'nppes_credentials', 'nppes_provider_street1', 'nppes_provider_street2'], axis=1)
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56817691 entries, 0 to 9847443
Data columns (total 20 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_gender             object
 2   nppes_entity_code                 object
 3   nppes_provider_city               object
 4   nppes_provider_zip                object
 5   nppes_provider_state              object
 6   nppes_provider_country            object
 7   provider_type                     object
 8   medicare_participation_indicator  object
 9   place_of_service                  object
 10  hcpcs_code                        object
 11  hcpcs_description                 object
 12  hcpcs_drug_indicator              object
 13  line_srvc_cnt                     float64
 14  bene_unique_cnt                   float64
 15  bene_day_srvc_cnt                 float64
 16  average_Medicare_allowed_amt      float64
 17  average_submitted_chrg_amt        float64
 18  average_Medicare_payment_amt      float64
 19  year                              int64
dtypes: float64(6), int64(2), object(12)
memory usage: 8.9+ GB

In [31]:
updated_data_df = pd.read_csv(os.path.join("..", "Data", data_updated))
# Drop the null rows that are completely null.
updated_data_df = updated_data_df.dropna(axis='rows', how='all')

updated_data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73850 entries, 0 to 73849
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LASTNAME    70693 non-null  object
 1   FIRSTNAME   70694 non-null  object
 2   MIDNAME     73850 non-null  object
 3   BUSNAME     3154 non-null   object
 4   GENERAL     73850 non-null  object
 5   SPECIALTY   69677 non-null  object
 6   UPIN        6259 non-null   object
 7   NPI         73850 non-null  int64
 8   DOB         69832 non-null  float64
 9   ADDRESS     73841 non-null  object
 10  CITY        73849 non-null  object
 11  STATE       73845 non-null  object
 12  ZIP         73850 non-null  int64
 13  EXCLTYPE    73850 non-null  object
 14  EXCLDATE    73850 non-null  int64
 15  REINDATE    73850 non-null  int64
 16  WAIVERDATE  73850 non-null  int64
 17  WVRSTATE    14 non-null     object
dtypes: float64(1), int64(5), object(12)
memory usage: 10.7+ MB

In [32]:
updated_data_df

,LASTNAME,FIRSTNAME,MIDNAME,BUSNAME,GENERAL,SPECIALTY,UPIN,NPI,DOB,ADDRESS,CITY,STATE,ZIP,EXCLTYPE,EXCLDATE,REINDATE,WAIVERDATE,WVRSTATE
0,NaN,NaN,,"#1 MARKETING SERVICE, INC",OTHER BUSINESS,SOBER HOME,NaN,0,NaN,239 BRIGHTON BEACH AVENUE,BROOKLYN,NY,11235,1128a1,20200319,0,0,NaN
1,NaN,NaN,,14 LAWRENCE AVE PHARMACY,PHARMACY,NaN,NaN,0,NaN,14 LAWRENCE AVENUE,SMITHTOWN,NY,11787,1128a1,19880830,0,0,NaN
2,NaN,NaN,,143 MEDICAL EQUIPMENT CO,DME COMPANY,DME - OXYGEN,NaN,0,NaN,701 NW 36 AVENUE,MIAMI,FL,33125,1128b7,19970620,0,0,NaN
3,NaN,NaN,,184TH STREET PHARMACY CORP,OTHER BUSINESS,PHARMACY,NaN,1922348218,NaN,69 E 184TH ST,BRONX,NY,10468,1128a1,20180419,0,0,NaN
4,NaN,NaN,,1951 FLATBUSH AVENUE PHARMACY,PHARMACY,NaN,NaN,0,NaN,1951 FLATBUSH AVE,BROOKLYN,NY,11234,1128b5,20090319,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73845,ZWOLINSKI,RUSSELL,K,NaN,"MEDICAL PRACTICE, MD",SURGERY,G25488,0,19670330.0,1728 W WINNEMAC AVE,CHICAGO,IL,60618,1128b4,20031020,0,0,NaN
73846,ZYDERVELD,MARY,ANN,NaN,PHARMACY,TECHNICIAN,NaN,0,19520825.0,1358 MORNING GLORY TURN,RUCKERSVILLE,VA,22962,1128b4,20090219,0,0,NaN
73847,ZYLSTRA,CHRISTEENA,LYNN,NaN,NURSING PROFESSION,NURSE/NURSES AIDE,NaN,0,19670724.0,1816 NE 49TH STREET,KANSAS CITY,MO,64118,1128b4,20100318,0,0,NaN
73848,ZYLSTRA,JAMES,PETER,NaN,REHAB FACILITY - GEN,EMPLOYEE,NaN,0,19550420.0,"2305 MINNESOTA BLVD, S E",ST CLOUD,MN,56304,1128a2,20040920,0,0,NaN
73849,ZYWOCINSKI,CYNTHIA,A,NaN,OSTEOPATHIC PRAC,OSTEOPATHY,F00244,0,19630316.0,117 WHITE TAIL LANE,LANCASTER,MA,1523,1128b14,19990720,0,0,NaN

In [33]:
updated_data_df.drop(updated_data_df[updated_data_df['NPI'] == 0].index, inplace = True)
updated_data_df.reset_index(inplace=True)
updated_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5635 entries, 0 to 5634
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       5635 non-null   int64
 1   LASTNAME    5263 non-null   object
 2   FIRSTNAME   5263 non-null   object
 3   MIDNAME     5635 non-null   object
 4   BUSNAME     371 non-null    object
 5   GENERAL     5635 non-null   object
 6   SPECIALTY   5514 non-null   object
 7   UPIN        1468 non-null   object
 8   NPI         5635 non-null   int64
 9   DOB         5264 non-null   float64
 10  ADDRESS     5635 non-null   object
 11  CITY        5635 non-null   object
 12  STATE       5634 non-null   object
 13  ZIP         5635 non-null   int64
 14  EXCLTYPE    5635 non-null   object
 15  EXCLDATE    5635 non-null   int64
 16  REINDATE    5635 non-null   int64
 17  WAIVERDATE  5635 non-null   int64
 18  WVRSTATE    8 non-null      object
dtypes: float64(1), int64(6), object(12)
memory usage: 836.6+ KB

In [34]:
updated_data_df

,index,LASTNAME,FIRSTNAME,MIDNAME,BUSNAME,GENERAL,SPECIALTY,UPIN,NPI,DOB,ADDRESS,CITY,STATE,ZIP,EXCLTYPE,EXCLDATE,REINDATE,WAIVERDATE,WVRSTATE
0,3,NaN,NaN,,184TH STREET PHARMACY CORP,OTHER BUSINESS,PHARMACY,NaN,1922348218,NaN,69 E 184TH ST,BRONX,NY,10468,1128a1,20180419,0,0,NaN
1,23,NaN,NaN,,"A & Y MEDICAL SUPPLY, INC",DME COMPANY,DME - GENERAL,NaN,1942476080,NaN,"6310 108TH STREET, APT 6J",FOREST HILLS,NY,11375,1128b8,20170518,0,0,NaN
2,27,NaN,NaN,,"A CARING ALTERNATIVE, INC",OTHER BUSINESS,HOME HEALTH AGENCY,NaN,1275600959,NaN,"1229 HURON RD E, FLR 6TH",CLEVELAND,OH,44115,1128a1,20130320,0,0,NaN
3,30,NaN,NaN,,"A FAIR DEAL PHARMACY, INC",OTHER BUSINESS,PHARMACY,NaN,1891731758,NaN,"C/O P O BOX 329014, #69709-05",BROOKLYN,NY,11232,1128b8,20170518,0,0,NaN
4,58,NaN,NaN,,"ACACIA MENTAL HEALTH CLINIC, L",OTHER BUSINESS,MENTAL/BEHAVIORAL HE,NaN,1851631543,NaN,5228 W FOND DU LAC AVENUE,MILWAUKEE,WI,53216,1128b7,20190326,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5630,73807,ZUCKERMAN,DAVID,H,NaN,IND- LIC HC SERV PRO,PODIATRY,U10438,1124024435,19540411.0,1803 COUNTRY CLUB DR,CHERRY HILL,NJ,8003,1128b4,20120920,0,0,NaN
5631,73814,ZUKOR,ALAN,J,NaN,DENTAL PRACTICE,DENTIST,T96408,1194930149,19500126.0,"9322 THIRD AVENUE, SUITE 204",BROOKLYN,NY,11209,1128b5,20090920,0,0,NaN
5632,73824,ZUPKOFF,GERALD,,NaN,IND- LIC HC SERV PRO,DENTIST,NaN,1578637385,19301230.0,245 PEPPERIDGE ROAD,HEWLETT,NY,11557,1128a1,20120920,0,0,NaN
5633,73829,ZURAWEK,TOMASZ,ADAM,NaN,"PHYSICIAN (MD, DO)",PULMONOLOGY,NaN,1558366815,19621215.0,"118 HIGHWAY 70 E, STE 2",DICKSON,TN,37055,1128a1,20160320,0,0,NaN
5634,73830,ZURAWIECKI,ROBERT,A,NaN,"PHYSICIAN (MD, DO)",GENERAL PRACTICE,NaN,1174561708,19450609.0,7454 SW 115TH COURT,MIAMI,FL,33173,1128b4,20161220,0,0,NaN

In [35]:
reduced_updated_df = updated_data_df[['NPI','EXCLTYPE']]
reduced_updated_df2 = reduced_updated_df.rename(columns={'NPI' : 'npi','EXCLTYPE': 'leie_code'})
reduced_updated_df2['leie'] = "On_List"
reduced_updated_df2

             npi leie_code     leie
0     1922348218    1128a1  On_List
1     1942476080    1128b8  On_List
2     1275600959    1128a1  On_List
3     1891731758    1128b8  On_List
4     1851631543    1128b7  On_List
...          ...       ...      ...
5630  1124024435    1128b4  On_List
5631  1194930149    1128b5  On_List
5632  1578637385    1128a1  On_List
5633  1558366815    1128a1  On_List
5634  1174561708    1128b4  On_List

[5635 rows x 3 columns]

In [36]:
new_df = pd.merge(data_df_total, reduced_updated_df2, on="npi", how='left')
new_df['leie_code'] = new_df['leie_code'].fillna('None')
new_df['leie'] = new_df['leie'].fillna('Not')

In [37]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56819227 entries, 0 to 56819226
Data columns (total 22 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_gender             object
 2   nppes_entity_code                 object
 3   nppes_provider_city               object
 4   nppes_provider_zip                object
 5   nppes_provider_state              object
 6   nppes_provider_country            object
 7   provider_type                     object
 8   medicare_participation_indicator  object
 9   place_of_service                  object
 10  hcpcs_code                        object
 11  hcpcs_description                 object
 12  hcpcs_drug_indicator              object
 13  line_srvc_cnt                     float64
 14  bene_unique_cnt                   float64
 15  bene_day_srvc_cnt                 float64
 16  average_Medicare_allowed_amt      float64
 17  average_submitted_chrg_amt        float64
 18  average_Medicare_payment_amt      float64
 19  year                              int64
 20  leie_code                         object
 21  leie                              object
dtypes: float64(6), int64(2), object(14)
memory usage: 9.7+ GB

In [38]:
test_df = new_df.loc[(new_df["leie"] == "On_List"), :]
test_df

,npi,nppes_provider_gender,nppes_entity_code,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,...,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,year,leie_code,leie
23,1003000407,M,I,PATTON,1.66681e+08,PA,US,Family Practice,Y,F,...,N,20.0,17.0,19.0,121.490000,510.0,97.190000,2012,1128a3,On_List
24,1003000407,M,I,PATTON,1.66681e+08,PA,US,Family Practice,Y,F,...,N,47.0,44.0,47.0,68.380000,100.0,53.855319,2012,1128a3,On_List
25,1003000407,M,I,PATTON,1.66681e+08,PA,US,Family Practice,Y,F,...,N,26.0,26.0,26.0,92.620000,110.0,71.988462,2012,1128a3,On_List
26,1003000407,M,I,PATTON,1.66681e+08,PA,US,Family Practice,Y,F,...,N,22.0,22.0,22.0,127.320000,170.0,101.860000,2012,1128a3,On_List
27,1003000407,M,I,PATTON,1.66681e+08,PA,US,Family Practice,Y,F,...,N,15.0,15.0,15.0,174.790000,200.0,139.830000,2012,1128a3,On_List
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56819199,1992999759,M,I,GUYTON,313127134,GA,US,Nurse Practitioner,Y,O,...,N,23.0,23.0,23.0,15.910000,31.9,12.209130,2017,1128a1,On_List
56819200,1992999759,M,I,GUYTON,313127134,GA,US,Nurse Practitioner,Y,O,...,N,28.0,28.0,28.0,139.420000,417.0,105.406071,2017,1128a1,On_List
56819201,1992999759,M,I,GUYTON,313127134,GA,US,Nurse Practitioner,Y,O,...,N,37.0,37.0,37.0,62.380000,183.0,47.578378,2017,1128a1,On_List
56819202,1992999759,M,I,GUYTON,313127134,GA,US,Nurse Practitioner,Y,O,...,N,177.0,170.0,177.0,91.770000,272.0,68.038870,2017,1128a1,On_List
56819203,1992999759,M,I,GUYTON,313127134,GA,US,Nurse Practitioner,Y,O,...,Y,30.0,27.0,27.0,0.139667,0.7,0.107667,2017,1128a1,On_List

In [39]:
output_data_file = "output_data_npi.txt"
new_df.to_csv(os.path.join("..", "Data", output_data_file), index= False, sep='\t')

In [40]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56819227 entries, 0 to 56819226
Data columns (total 22 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_gender             object
 2   nppes_entity_code                 object
 3   nppes_provider_city               object
 4   nppes_provider_zip                object
 5   nppes_provider_state              object
 6   nppes_provider_country            object
 7   provider_type                     object
 8   medicare_participation_indicator  object
 9   place_of_service                  object
 10  hcpcs_code                        object
 11  hcpcs_description                 object
 12  hcpcs_drug_indicator              object
 13  line_srvc_cnt                     float64
 14  bene_unique_cnt                   float64
 15  bene_day_srvc_cnt                 float64
 16  average_Medicare_allowed_amt      float64
 17  average_submitted_chrg_amt        float64
 18  average_Medicare_payment_amt      float64
 19  year                              int64
 20  leie_code                         object
 21  leie                              object
dtypes: float64(6), int64(2), object(14)
memory usage: 9.7+ GB