In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_file2012 = "Medicare_Provider_Util_Payment_PUF_CY2012.txt"
data_file2013 = "Medicare_Provider_Util_Payment_PUF_CY2013.txt"
data_file2014 = "Medicare_Provider_Util_Payment_PUF_CY2014.txt"
data_file2015 = "Medicare_Provider_Util_Payment_PUF_CY2015.txt"
data_file2016 = "Medicare_Provider_Util_Payment_PUF_CY2016.txt"
data_file2017 = "Medicare_Provider_Util_Payment_PUF_CY2017.txt"
data_updated = "UPDATED.csv"


provider_1 = 1104909043
provider_2 = 1568476968

In [3]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t', nrows=200000)
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t')
# Drop the null rows
data_df = data_df.dropna()
#data_df.head()

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70231 entries, 8 to 199932
Data columns (total 28 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NPI                               70231 non-null  int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      70231 non-null  object
 2   NPPES_PROVIDER_FIRST_NAME         70231 non-null  object
 3   NPPES_PROVIDER_MI                 70231 non-null  object
 4   NPPES_CREDENTIALS                 70231 non-null  object
 5   NPPES_PROVIDER_GENDER             70231 non-null  object
 6   NPPES_ENTITY_CODE                 70231 non-null  object
 7   NPPES_PROVIDER_STREET1            70231 non-null  object
 8   NPPES_PROVIDER_STREET2            70231 non-null  object
 9   NPPES_PROVIDER_CITY               70231 non-null  object
 10  NPPES_PROVIDER_ZIP                70231 non-null  float64
 11  NPPES_PROVIDER_STATE              70231 non-null  object
 12  NPPES_PROVIDER_COUNTRY            70231 non-null  object
 13  PROVIDER_TYPE                     70231 non-null  object
 14  MEDICARE_PARTICIPATION_INDICATOR  70231 non-null  object
 15  PLACE_OF_SERVICE                  70231 non-null  object
 16  HCPCS_CODE                        70231 non-null  object
 17  HCPCS_DESCRIPTION                 70231 non-null  object
 18  HCPCS_DRUG_INDICATOR              70231 non-null  object
 19  LINE_SRVC_CNT                     70231 non-null  float64
 20  BENE_UNIQUE_CNT                   70231 non-null  float64
 21  BENE_DAY_SRVC_CNT                 70231 non-null  float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      70231 non-null  float64
 23  STDEV_MEDICARE_ALLOWED_AMT        70231 non-null  float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        70231 non-null  float64
 25  STDEV_SUBMITTED_CHRG_AMT          70231 non-null  float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      70231 non-null  float64
 27  STDEV_MEDICARE_PAYMENT_AMT        70231 non-null  float64
dtypes: float64(10), int64(1), object(17)
memory usage: 15.5+ MB

In [5]:
#data_df

In [6]:
data_df2012 = data_df
#data_df2012 = data_df.loc[(data_df["NPI"] == provider_1) | (data_df["NPI"] == provider_2), :]
data_df2012['year'] = 2012

In [7]:
data_df2012

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_MI,NPPES_CREDENTIALS,NPPES_PROVIDER_GENDER,NPPES_ENTITY_CODE,NPPES_PROVIDER_STREET1,NPPES_PROVIDER_STREET2,NPPES_PROVIDER_CITY,...,LINE_SRVC_CNT,BENE_UNIQUE_CNT,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,STDEV_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,STDEV_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,STDEV_MEDICARE_PAYMENT_AMT,year
8,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,226.0,207.0,209.0,11.640000,0.000000,115.000,0.000000,8.980442,1.720341,2012
9,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,6070.0,3624.0,4416.0,37.729960,0.001257,170.000,0.000000,28.984504,5.626832,2012
10,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,13.0,13.0,13.0,12.700000,0.000000,39.000,0.000000,7.815385,4.280662,2012
11,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,330.0,231.0,238.0,27.149576,0.005433,88.000,0.000000,21.391364,2.646612,2012
12,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,51.0,46.0,48.0,12.340000,0.000000,68.000,0.000000,9.676471,1.368460,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199925,1023027596,BJORLING,VINCENT,G,M.D.,M,I,3911 AVENUE B,SUITE 1110,SCOTTSBLUFF,...,40.0,40.0,40.0,11.000000,0.000000,11.000,0.000000,10.763500,1.476942,2012
199926,1023027661,KELLEY,JUDITH,A,MD,F,I,77 W FOREST AVE,SUITE 207,FLAGSTAFF,...,12.0,12.0,12.0,302.301667,80.359823,1538.250,380.902902,241.841667,64.287920,2012
199930,1023027703,BROCKMAN,MICHAEL,J,MD,M,I,2845 GREENBRIER RD,#420,GREEN BAY,...,18.0,13.0,18.0,40.940000,0.000000,116.000,0.000000,30.930556,7.501762,2012
199931,1023027703,BROCKMAN,MICHAEL,J,MD,M,I,2845 GREENBRIER RD,#420,GREEN BAY,...,22.0,20.0,22.0,67.980000,0.000000,193.000,0.000000,47.106364,15.963476,2012
199932,1023027703,BROCKMAN,MICHAEL,J,MD,M,I,2845 GREENBRIER RD,#420,GREEN BAY,...,14.0,14.0,14.0,36.082857,0.169976,36.145,0.291468,36.082857,0.169976,2012

In [8]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t', nrows=200000)
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t')
# Drop the null rows
data_df = data_df.dropna()

In [9]:
data_df2013 = data_df
#data_df2013 = data_df.loc[(data_df["NPI"] == provider_1) | (data_df["NPI"] == provider_2), :]
data_df2013['year'] = 2013
data_df2013

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_MI,NPPES_CREDENTIALS,NPPES_PROVIDER_GENDER,NPPES_ENTITY_CODE,NPPES_PROVIDER_STREET1,NPPES_PROVIDER_STREET2,NPPES_PROVIDER_CITY,...,LINE_SRVC_CNT,BENE_UNIQUE_CNT,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,STDEV_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,STDEV_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,STDEV_MEDICARE_PAYMENT_AMT,year
8,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,209.0,201.0,204.0,11.990000,0.000000,115.000000,0.000000,9.327464,0.976977,2013
9,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,5786.0,3771.0,4632.0,38.429983,0.000588,170.000000,0.000000,29.279589,5.268831,2013
10,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,428.0,324.0,332.0,27.850000,0.000000,88.000000,0.000000,21.388808,3.479517,2013
11,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,76.0,68.0,70.0,12.690000,0.000000,68.000000,0.000000,10.018421,0.094883,2013
12,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,48.0,46.0,47.0,88.975833,6.394314,265.187500,3.244587,61.946875,22.221258,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199973,1023019882,SHAH,RAJU,S,M.D.,M,I,5705 MONCLOVA RD,SUITE 203,MAUMEE,...,108.0,108.0,108.0,105.310000,0.000000,176.250000,54.126588,73.354815,23.634027,2013
199974,1023019882,SHAH,RAJU,S,M.D.,M,I,5705 MONCLOVA RD,SUITE 203,MAUMEE,...,44.0,40.0,44.0,42.300000,0.000000,66.818182,3.856946,29.723182,9.959074,2013
199975,1023019882,SHAH,RAJU,S,M.D.,M,I,5705 MONCLOVA RD,SUITE 203,MAUMEE,...,77.0,69.0,77.0,70.650000,0.000000,93.662338,3.245818,46.937143,19.932748,2013
199976,1023019882,SHAH,RAJU,S,M.D.,M,I,5705 MONCLOVA RD,SUITE 203,MAUMEE,...,18.0,18.0,18.0,202.554444,48.834366,844.888889,86.127095,198.571667,47.654768,2013
199977,1023019882,SHAH,RAJU,S,M.D.,M,I,5705 MONCLOVA RD,SUITE 203,MAUMEE,...,27.0,27.0,27.0,219.820000,0.000000,865.777778,118.165400,215.908889,1.382787,2013

In [10]:
data_df2013.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69794 entries, 8 to 199977
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NPI                               69794 non-null  int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      69794 non-null  object
 2   NPPES_PROVIDER_FIRST_NAME         69794 non-null  object
 3   NPPES_PROVIDER_MI                 69794 non-null  object
 4   NPPES_CREDENTIALS                 69794 non-null  object
 5   NPPES_PROVIDER_GENDER             69794 non-null  object
 6   NPPES_ENTITY_CODE                 69794 non-null  object
 7   NPPES_PROVIDER_STREET1            69794 non-null  object
 8   NPPES_PROVIDER_STREET2            69794 non-null  object
 9   NPPES_PROVIDER_CITY               69794 non-null  object
 10  NPPES_PROVIDER_ZIP                69794 non-null  float64
 11  NPPES_PROVIDER_STATE              69794 non-null  object
 12  NPPES_PROVIDER_COUNTRY            69794 non-null  object
 13  PROVIDER_TYPE                     69794 non-null  object
 14  MEDICARE_PARTICIPATION_INDICATOR  69794 non-null  object
 15  PLACE_OF_SERVICE                  69794 non-null  object
 16  HCPCS_CODE                        69794 non-null  object
 17  HCPCS_DESCRIPTION                 69794 non-null  object
 18  HCPCS_DRUG_INDICATOR              69794 non-null  object
 19  LINE_SRVC_CNT                     69794 non-null  float64
 20  BENE_UNIQUE_CNT                   69794 non-null  float64
 21  BENE_DAY_SRVC_CNT                 69794 non-null  float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      69794 non-null  float64
 23  STDEV_MEDICARE_ALLOWED_AMT        69794 non-null  float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        69794 non-null  float64
 25  STDEV_SUBMITTED_CHRG_AMT          69794 non-null  float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      69794 non-null  float64
 27  STDEV_MEDICARE_PAYMENT_AMT        69794 non-null  float64
 28  year                              69794 non-null  int64
dtypes: float64(10), int64(2), object(17)
memory usage: 16.0+ MB

In [11]:
data_df_total = pd.concat([data_df2012, data_df2013])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140025 entries, 8 to 199977
Data columns (total 29 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   NPI                               140025 non-null  int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      140025 non-null  object
 2   NPPES_PROVIDER_FIRST_NAME         140025 non-null  object
 3   NPPES_PROVIDER_MI                 140025 non-null  object
 4   NPPES_CREDENTIALS                 140025 non-null  object
 5   NPPES_PROVIDER_GENDER             140025 non-null  object
 6   NPPES_ENTITY_CODE                 140025 non-null  object
 7   NPPES_PROVIDER_STREET1            140025 non-null  object
 8   NPPES_PROVIDER_STREET2            140025 non-null  object
 9   NPPES_PROVIDER_CITY               140025 non-null  object
 10  NPPES_PROVIDER_ZIP                140025 non-null  float64
 11  NPPES_PROVIDER_STATE              140025 non-null  object
 12  NPPES_PROVIDER_COUNTRY            140025 non-null  object
 13  PROVIDER_TYPE                     140025 non-null  object
 14  MEDICARE_PARTICIPATION_INDICATOR  140025 non-null  object
 15  PLACE_OF_SERVICE                  140025 non-null  object
 16  HCPCS_CODE                        140025 non-null  object
 17  HCPCS_DESCRIPTION                 140025 non-null  object
 18  HCPCS_DRUG_INDICATOR              140025 non-null  object
 19  LINE_SRVC_CNT                     140025 non-null  float64
 20  BENE_UNIQUE_CNT                   140025 non-null  float64
 21  BENE_DAY_SRVC_CNT                 140025 non-null  float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      140025 non-null  float64
 23  STDEV_MEDICARE_ALLOWED_AMT        140025 non-null  float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        140025 non-null  float64
 25  STDEV_SUBMITTED_CHRG_AMT          140025 non-null  float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      140025 non-null  float64
 27  STDEV_MEDICARE_PAYMENT_AMT        140025 non-null  float64
 28  year                              140025 non-null  int64
dtypes: float64(10), int64(2), object(17)
memory usage: 32.0+ MB

In [12]:
updated_data_df = pd.read_csv(os.path.join("..", "Data", data_updated))
updated_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73850 entries, 0 to 73849
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LASTNAME    70693 non-null  object
 1   FIRSTNAME   70694 non-null  object
 2   MIDNAME     73850 non-null  object
 3   BUSNAME     3154 non-null   object
 4   GENERAL     73850 non-null  object
 5   SPECIALTY   69677 non-null  object
 6   UPIN        6259 non-null   object
 7   NPI         73850 non-null  int64
 8   DOB         69832 non-null  float64
 9   ADDRESS     73841 non-null  object
 10  CITY        73849 non-null  object
 11  STATE       73845 non-null  object
 12  ZIP         73850 non-null  int64
 13  EXCLTYPE    73850 non-null  object
 14  EXCLDATE    73850 non-null  int64
 15  REINDATE    73850 non-null  int64
 16  WAIVERDATE  73850 non-null  int64
 17  WVRSTATE    14 non-null     object
dtypes: float64(1), int64(5), object(12)
memory usage: 10.1+ MB

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
updated_data_df

,LASTNAME,FIRSTNAME,MIDNAME,BUSNAME,GENERAL,SPECIALTY,UPIN,NPI,DOB,ADDRESS,CITY,STATE,ZIP,EXCLTYPE,EXCLDATE,REINDATE,WAIVERDATE,WVRSTATE
0,NaN,NaN,,"#1 MARKETING SERVICE, INC",OTHER BUSINESS,SOBER HOME,NaN,0,NaN,239 BRIGHTON BEACH AVENUE,BROOKLYN,NY,11235,1128a1,20200319,0,0,NaN
1,NaN,NaN,,14 LAWRENCE AVE PHARMACY,PHARMACY,NaN,NaN,0,NaN,14 LAWRENCE AVENUE,SMITHTOWN,NY,11787,1128a1,19880830,0,0,NaN
2,NaN,NaN,,143 MEDICAL EQUIPMENT CO,DME COMPANY,DME - OXYGEN,NaN,0,NaN,701 NW 36 AVENUE,MIAMI,FL,33125,1128b7,19970620,0,0,NaN
3,NaN,NaN,,184TH STREET PHARMACY CORP,OTHER BUSINESS,PHARMACY,NaN,1922348218,NaN,69 E 184TH ST,BRONX,NY,10468,1128a1,20180419,0,0,NaN
4,NaN,NaN,,1951 FLATBUSH AVENUE PHARMACY,PHARMACY,NaN,NaN,0,NaN,1951 FLATBUSH AVE,BROOKLYN,NY,11234,1128b5,20090319,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73845,ZWOLINSKI,RUSSELL,K,NaN,"MEDICAL PRACTICE, MD",SURGERY,G25488,0,19670330.0,1728 W WINNEMAC AVE,CHICAGO,IL,60618,1128b4,20031020,0,0,NaN
73846,ZYDERVELD,MARY,ANN,NaN,PHARMACY,TECHNICIAN,NaN,0,19520825.0,1358 MORNING GLORY TURN,RUCKERSVILLE,VA,22962,1128b4,20090219,0,0,NaN
73847,ZYLSTRA,CHRISTEENA,LYNN,NaN,NURSING PROFESSION,NURSE/NURSES AIDE,NaN,0,19670724.0,1816 NE 49TH STREET,KANSAS CITY,MO,64118,1128b4,20100318,0,0,NaN
73848,ZYLSTRA,JAMES,PETER,NaN,REHAB FACILITY - GEN,EMPLOYEE,NaN,0,19550420.0,"2305 MINNESOTA BLVD, S E",ST CLOUD,MN,56304,1128a2,20040920,0,0,NaN
73849,ZYWOCINSKI,CYNTHIA,A,NaN,OSTEOPATHIC PRAC,OSTEOPATHY,F00244,0,19630316.0,117 WHITE TAIL LANE,LANCASTER,MA,1523,1128b14,19990720,0,0,NaN

In [14]:
updated_data_df.drop(updated_data_df[updated_data_df['NPI'] == 0].index, inplace = True)
updated_data_df.reset_index(inplace=True)
updated_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5635 entries, 0 to 5634
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       5635 non-null   int64
 1   LASTNAME    5263 non-null   object
 2   FIRSTNAME   5263 non-null   object
 3   MIDNAME     5635 non-null   object
 4   BUSNAME     371 non-null    object
 5   GENERAL     5635 non-null   object
 6   SPECIALTY   5514 non-null   object
 7   UPIN        1468 non-null   object
 8   NPI         5635 non-null   int64
 9   DOB         5264 non-null   float64
 10  ADDRESS     5635 non-null   object
 11  CITY        5635 non-null   object
 12  STATE       5634 non-null   object
 13  ZIP         5635 non-null   int64
 14  EXCLTYPE    5635 non-null   object
 15  EXCLDATE    5635 non-null   int64
 16  REINDATE    5635 non-null   int64
 17  WAIVERDATE  5635 non-null   int64
 18  WVRSTATE    8 non-null      object
dtypes: float64(1), int64(6), object(12)
memory usage: 836.6+ KB

In [15]:
updated_data_df

,index,LASTNAME,FIRSTNAME,MIDNAME,BUSNAME,GENERAL,SPECIALTY,UPIN,NPI,DOB,ADDRESS,CITY,STATE,ZIP,EXCLTYPE,EXCLDATE,REINDATE,WAIVERDATE,WVRSTATE
0,3,NaN,NaN,,184TH STREET PHARMACY CORP,OTHER BUSINESS,PHARMACY,NaN,1922348218,NaN,69 E 184TH ST,BRONX,NY,10468,1128a1,20180419,0,0,NaN
1,23,NaN,NaN,,"A & Y MEDICAL SUPPLY, INC",DME COMPANY,DME - GENERAL,NaN,1942476080,NaN,"6310 108TH STREET, APT 6J",FOREST HILLS,NY,11375,1128b8,20170518,0,0,NaN
2,27,NaN,NaN,,"A CARING ALTERNATIVE, INC",OTHER BUSINESS,HOME HEALTH AGENCY,NaN,1275600959,NaN,"1229 HURON RD E, FLR 6TH",CLEVELAND,OH,44115,1128a1,20130320,0,0,NaN
3,30,NaN,NaN,,"A FAIR DEAL PHARMACY, INC",OTHER BUSINESS,PHARMACY,NaN,1891731758,NaN,"C/O P O BOX 329014, #69709-05",BROOKLYN,NY,11232,1128b8,20170518,0,0,NaN
4,58,NaN,NaN,,"ACACIA MENTAL HEALTH CLINIC, L",OTHER BUSINESS,MENTAL/BEHAVIORAL HE,NaN,1851631543,NaN,5228 W FOND DU LAC AVENUE,MILWAUKEE,WI,53216,1128b7,20190326,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5630,73807,ZUCKERMAN,DAVID,H,NaN,IND- LIC HC SERV PRO,PODIATRY,U10438,1124024435,19540411.0,1803 COUNTRY CLUB DR,CHERRY HILL,NJ,8003,1128b4,20120920,0,0,NaN
5631,73814,ZUKOR,ALAN,J,NaN,DENTAL PRACTICE,DENTIST,T96408,1194930149,19500126.0,"9322 THIRD AVENUE, SUITE 204",BROOKLYN,NY,11209,1128b5,20090920,0,0,NaN
5632,73824,ZUPKOFF,GERALD,,NaN,IND- LIC HC SERV PRO,DENTIST,NaN,1578637385,19301230.0,245 PEPPERIDGE ROAD,HEWLETT,NY,11557,1128a1,20120920,0,0,NaN
5633,73829,ZURAWEK,TOMASZ,ADAM,NaN,"PHYSICIAN (MD, DO)",PULMONOLOGY,NaN,1558366815,19621215.0,"118 HIGHWAY 70 E, STE 2",DICKSON,TN,37055,1128a1,20160320,0,0,NaN
5634,73830,ZURAWIECKI,ROBERT,A,NaN,"PHYSICIAN (MD, DO)",GENERAL PRACTICE,NaN,1174561708,19450609.0,7454 SW 115TH COURT,MIAMI,FL,33173,1128b4,20161220,0,0,NaN

In [16]:
#data_df_total['leie'] = "no"
#data_df_total['leie_code'] = "none"

In [17]:
reduced_updated_df = updated_data_df[['NPI','EXCLTYPE']]
reduced_updated_df2 = reduced_updated_df.rename(columns={'NPI' : 'NPI','EXCLTYPE': 'leie_code'})
reduced_updated_df2['leie'] = "Yes"
reduced_updated_df2

             NPI leie_code leie
0     1922348218    1128a1  Yes
1     1942476080    1128b8  Yes
2     1275600959    1128a1  Yes
3     1891731758    1128b8  Yes
4     1851631543    1128b7  Yes
...          ...       ...  ...
5630  1124024435    1128b4  Yes
5631  1194930149    1128b5  Yes
5632  1578637385    1128a1  Yes
5633  1558366815    1128a1  Yes
5634  1174561708    1128b4  Yes

[5635 rows x 3 columns]

In [18]:
#npi_codes = updated_data_df.iloc[:,1:].values

In [19]:
#npi_codes = updated_data_df.NPI.values.reshape(-1, 1)
#exclusion_codes = updated_data_df.EXCLTYPE.values.reshape(-1, 1)
#print(len(npi_codes))
#print(len(exclusion_codes))

In [20]:
#cnt = 0
#for npi in npi_codes:

In [21]:
new_df = pd.merge(data_df_total, reduced_updated_df2, on="NPI", how='left')
new_df['leie_code'] = new_df['leie_code'].fillna('None')
new_df['leie'] = new_df['leie'].fillna('No')

In [22]:
new_df

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_MI,NPPES_CREDENTIALS,NPPES_PROVIDER_GENDER,NPPES_ENTITY_CODE,NPPES_PROVIDER_STREET1,NPPES_PROVIDER_STREET2,NPPES_PROVIDER_CITY,...,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,STDEV_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,STDEV_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,STDEV_MEDICARE_PAYMENT_AMT,year,leie_code,leie
0,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,209.0,11.640000,0.000000,115.000000,0.000000,8.980442,1.720341,2012,None,No
1,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,4416.0,37.729960,0.001257,170.000000,0.000000,28.984504,5.626832,2012,None,No
2,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,13.0,12.700000,0.000000,39.000000,0.000000,7.815385,4.280662,2012,None,No
3,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,238.0,27.149576,0.005433,88.000000,0.000000,21.391364,2.646612,2012,None,No
4,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,48.0,12.340000,0.000000,68.000000,0.000000,9.676471,1.368460,2012,None,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140020,1023019882,SHAH,RAJU,S,M.D.,M,I,5705 MONCLOVA RD,SUITE 203,MAUMEE,...,108.0,105.310000,0.000000,176.250000,54.126588,73.354815,23.634027,2013,None,No
140021,1023019882,SHAH,RAJU,S,M.D.,M,I,5705 MONCLOVA RD,SUITE 203,MAUMEE,...,44.0,42.300000,0.000000,66.818182,3.856946,29.723182,9.959074,2013,None,No
140022,1023019882,SHAH,RAJU,S,M.D.,M,I,5705 MONCLOVA RD,SUITE 203,MAUMEE,...,77.0,70.650000,0.000000,93.662338,3.245818,46.937143,19.932748,2013,None,No
140023,1023019882,SHAH,RAJU,S,M.D.,M,I,5705 MONCLOVA RD,SUITE 203,MAUMEE,...,18.0,202.554444,48.834366,844.888889,86.127095,198.571667,47.654768,2013,None,No
140024,1023019882,SHAH,RAJU,S,M.D.,M,I,5705 MONCLOVA RD,SUITE 203,MAUMEE,...,27.0,219.820000,0.000000,865.777778,118.165400,215.908889,1.382787,2013,None,No

In [23]:
test_df = new_df.loc[(new_df["leie"] == "Yes"), :]

In [24]:
test_df

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_MI,NPPES_CREDENTIALS,NPPES_PROVIDER_GENDER,NPPES_ENTITY_CODE,NPPES_PROVIDER_STREET1,NPPES_PROVIDER_STREET2,NPPES_PROVIDER_CITY,...,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,STDEV_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,STDEV_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,STDEV_MEDICARE_PAYMENT_AMT,year,leie_code,leie
7108,1003809195,MACKEY,JOSEPH,T,M.D.,M,I,104 NO. 7 HIGHWAY,SUITE B,BLUE SPRINGS,...,21.0,30.92,0.0,46.380000,0.000000,30.920000,0.000000,2012,1128b4,Yes
7109,1003809195,MACKEY,JOSEPH,T,M.D.,M,I,104 NO. 7 HIGHWAY,SUITE B,BLUE SPRINGS,...,31.0,23.40,0.0,35.000000,0.000000,13.992500,7.042950,2012,1128b4,Yes
7110,1003809195,MACKEY,JOSEPH,T,M.D.,M,I,104 NO. 7 HIGHWAY,SUITE B,BLUE SPRINGS,...,88.0,69.37,0.0,96.590909,4.740149,46.046818,19.565442,2012,1128b4,Yes
7111,1003809195,MACKEY,JOSEPH,T,M.D.,M,I,104 NO. 7 HIGHWAY,SUITE B,BLUE SPRINGS,...,142.0,102.61,0.0,144.788732,4.995535,62.662676,31.400280,2012,1128b4,Yes
7112,1003809195,MACKEY,JOSEPH,T,M.D.,M,I,104 NO. 7 HIGHWAY,SUITE B,BLUE SPRINGS,...,21.0,23.40,0.0,28.000000,0.000000,23.400000,0.000000,2012,1128b4,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107685,1013093178,WHITE,CULLY,R,DO,M,I,2901 W KINNICKINNIC RIVER PARKWAY,SUITE 201,MILWAUKEE,...,22.0,36.36,0.0,200.000000,0.000000,29.037273,0.166738,2013,1128a3,Yes
107686,1013093178,WHITE,CULLY,R,DO,M,I,2901 W KINNICKINNIC RIVER PARKWAY,SUITE 201,MILWAUKEE,...,138.0,67.03,0.0,220.000000,0.000000,52.590580,3.127485,2013,1128a3,Yes
134693,1023000122,VIDA,KEVIN,A,PA C,M,I,39000 BOB HOPE DRIVE,HARRY & DIANE RINKER BUILDING,RANCHO MIRAGE,...,13.0,13.42,0.0,55.510000,0.000000,3.151538,4.751411,2013,1128b4,Yes
134694,1023000122,VIDA,KEVIN,A,PA C,M,I,39000 BOB HOPE DRIVE,HARRY & DIANE RINKER BUILDING,RANCHO MIRAGE,...,13.0,7.71,0.0,31.010000,0.000000,1.898462,2.847692,2013,1128b4,Yes
134695,1023000122,VIDA,KEVIN,A,PA C,M,I,39000 BOB HOPE DRIVE,HARRY & DIANE RINKER BUILDING,RANCHO MIRAGE,...,30.0,21.12,0.0,80.640000,0.000000,5.801333,7.899024,2013,1128b4,Yes