In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_file2012 = "Medicare_Provider_Util_Payment_PUF_CY2012.txt"
data_file2013 = "Medicare_Provider_Util_Payment_PUF_CY2013.txt"
data_file2014 = "Medicare_Provider_Util_Payment_PUF_CY2014.txt"
data_file2015 = "Medicare_Provider_Util_Payment_PUF_CY2015.txt"
data_file2016 = "Medicare_Provider_Util_Payment_PUF_CY2016.txt"
data_file2017 = "Medicare_Provider_Util_Payment_PUF_CY2017.txt"
data_updated = "UPDATED.csv"


provider_1 = 1104909043
provider_2 = 1568476968

In [3]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2012),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
#data_df.head()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9153273 entries, 0 to 9153272
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 1.9+ GB

In [4]:
data_df.drop(data_df[data_df['NPI'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['NPPES_PROVIDER_COUNTRY'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9153272 entries, 1 to 9153272
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 2.0+ GB

In [5]:
#data_df['NPPES_PROVIDER_ZIP'] = data_df['NPPES_PROVIDER_ZIP'].apply(str)
#data_df.info()
#data_df['new_zip'] = data_df['NPPES_PROVIDER_ZIP'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['PLACE_OF_SERVICE']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['PLACE_OF_SERVICE']]
data_df['facility'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "F", 0)
data_df['outside'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "O", 0)
data_df['year'] = 2012


df_data_2012 = data_df.groupby(['PROVIDER_TYPE', 'year']).agg({'LINE_SRVC_CNT': ['median'],
                                                               'facility' : ['median'],
                                                               'outside' : ['median']})
       
df_data_2012

                                      LINE_SRVC_CNT facility outside
                                             median   median  median
PROVIDER_TYPE                    year
Addiction Medicine               2012          60.0      0.0    16.0
All Other Suppliers              2012          71.5      0.0    68.5
Allergy/Immunology               2012          77.0      0.0    41.0
Ambulance Service Supplier       2012         283.0    146.0     0.0
Ambulatory Surgical Center       2012          38.0     33.0     0.0
...                                             ...      ...     ...
Thoracic Surgery                 2012          24.0     15.0     0.0
Unknown Physician Specialty Code 2012          39.0      0.0    16.0
Unknown Supplier/Provider        2012          37.0      0.0    21.0
Urology                          2012          44.0      0.0    31.0
Vascular Surgery                 2012          32.0     13.0     0.0

[89 rows x 3 columns]

In [6]:
df_data_2012 = df_data_2012.reset_index()
df_data_2012.columns = ['provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2012

,provider_type,year,line_srcv_median,facility_median,outside_median
0,Addiction Medicine,2012,60.0,0.0,16.0
1,All Other Suppliers,2012,71.5,0.0,68.5
2,Allergy/Immunology,2012,77.0,0.0,41.0
3,Ambulance Service Supplier,2012,283.0,146.0,0.0
4,Ambulatory Surgical Center,2012,38.0,33.0,0.0
...,...,...,...,...,...
84,Thoracic Surgery,2012,24.0,15.0,0.0
85,Unknown Physician Specialty Code,2012,39.0,0.0,16.0
86,Unknown Supplier/Provider,2012,37.0,0.0,21.0
87,Urology,2012,44.0,0.0,31.0
88,Vascular Surgery,2012,32.0,13.0,0.0

In [7]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t', nrows=5000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9287877 entries, 0 to 9287876
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 1.9+ GB

In [8]:
data_df.drop(data_df[data_df['NPI'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['NPPES_PROVIDER_COUNTRY'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9287876 entries, 1 to 9287876
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  STDEV_MEDICARE_ALLOWED_AMT        float64
 24  AVERAGE_SUBMITTED_CHRG_AMT        float64
 25  STDEV_SUBMITTED_CHRG_AMT          float64
 26  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 27  STDEV_MEDICARE_PAYMENT_AMT        float64
dtypes: float64(9), int64(1), object(18)
memory usage: 2.0+ GB

In [9]:
#data_df['NPPES_PROVIDER_ZIP'] = data_df['NPPES_PROVIDER_ZIP'].apply(str)
#data_df.info()
#data_df['new_zip'] = data_df['NPPES_PROVIDER_ZIP'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['PLACE_OF_SERVICE']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['PLACE_OF_SERVICE']]
data_df['facility'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "F", 0)
data_df['outside'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "O", 0)
data_df['year'] = 2013

df_data_2013 = data_df.groupby(['PROVIDER_TYPE', 'year']).agg({'LINE_SRVC_CNT': ['median'],
                                                               'facility' : ['median'],
                                                               'outside' : ['median']})
       
df_data_2013

                                      LINE_SRVC_CNT facility outside
                                             median   median  median
PROVIDER_TYPE                    year
Addiction Medicine               2013          66.0      0.0    19.0
All Other Suppliers              2013          61.0      0.0    58.0
Allergy/Immunology               2013          77.0      0.0    42.0
Ambulance Service Supplier       2013         285.0    148.0     0.0
Ambulatory Surgical Center       2013          38.0     33.0     0.0
...                                             ...      ...     ...
Thoracic Surgery                 2013          24.0     15.0     0.0
Unknown Physician Specialty Code 2013          37.0     11.0     0.0
Unknown Supplier/Provider        2013          38.0      0.0    17.0
Urology                          2013          44.0      0.0    31.0
Vascular Surgery                 2013          32.0     13.0     0.0

[90 rows x 3 columns]

In [10]:
df_data_2013 = df_data_2013.reset_index()
df_data_2013.columns = ['provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2013

,provider_type,year,line_srcv_median,facility_median,outside_median
0,Addiction Medicine,2013,66.0,0.0,19.0
1,All Other Suppliers,2013,61.0,0.0,58.0
2,Allergy/Immunology,2013,77.0,0.0,42.0
3,Ambulance Service Supplier,2013,285.0,148.0,0.0
4,Ambulatory Surgical Center,2013,38.0,33.0,0.0
...,...,...,...,...,...
85,Thoracic Surgery,2013,24.0,15.0,0.0
86,Unknown Physician Specialty Code,2013,37.0,11.0,0.0
87,Unknown Supplier/Provider,2013,38.0,0.0,17.0
88,Urology,2013,44.0,0.0,31.0
89,Vascular Surgery,2013,32.0,13.0,0.0

In [11]:
data_df_total = pd.concat([df_data_2012, df_data_2013])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 0 to 89
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   provider_type     179 non-null    object
 1   year              179 non-null    int64
 2   line_srcv_median  179 non-null    float64
 3   facility_median   179 non-null    float64
 4   outside_median    179 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 8.4+ KB

In [12]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2014),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2014),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9316308 entries, 0 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.8+ GB

In [13]:
data_df.drop(data_df[data_df['npi'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['nppes_provider_country'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9316307 entries, 1 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [14]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9316307 entries, 1 to 9316307
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [15]:
#data_df['nppes_provider_zip'] = data_df['nppes_provider_zip'].apply(str)
#data_df.info()
#data_df['new_zip'] = data_df['nppes_provider_zip'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['place_of_service']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['place_of_service']]
data_df['facility'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "F", 0)
data_df['outside'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "O", 0)
data_df['year'] = 2014


df_data_2014 = data_df.groupby(['provider_type', 'year']).agg({'line_srvc_cnt': ['median'],
                                                               'facility' : ['median'],
                                                               'outside' : ['median']})
       
df_data_2014

                                      line_srvc_cnt facility outside
                                             median   median  median
provider_type                    year
Addiction Medicine               2014          64.5      0.0    24.0
All Other Suppliers              2014          53.0      0.0    51.0
Allergy/Immunology               2014          78.0      0.0    42.0
Ambulance Service Supplier       2014         284.1    151.0     0.0
Ambulatory Surgical Center       2014          37.0     33.0     0.0
...                                             ...      ...     ...
Thoracic Surgery                 2014          24.0     15.0     0.0
Unknown Physician Specialty Code 2014          36.0     14.0     0.0
Unknown Supplier/Provider        2014          39.0      0.0    13.0
Urology                          2014          43.0      0.0    30.0
Vascular Surgery                 2014          33.0     13.0     0.0

[91 rows x 3 columns]

In [16]:
df_data_2014 = df_data_2014.reset_index()
df_data_2014.columns = ['provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2014

,provider_type,year,line_srcv_median,facility_median,outside_median
0,Addiction Medicine,2014,64.5,0.0,24.0
1,All Other Suppliers,2014,53.0,0.0,51.0
2,Allergy/Immunology,2014,78.0,0.0,42.0
3,Ambulance Service Supplier,2014,284.1,151.0,0.0
4,Ambulatory Surgical Center,2014,37.0,33.0,0.0
...,...,...,...,...,...
86,Thoracic Surgery,2014,24.0,15.0,0.0
87,Unknown Physician Specialty Code,2014,36.0,14.0,0.0
88,Unknown Supplier/Provider,2014,39.0,0.0,13.0
89,Urology,2014,43.0,0.0,30.0
90,Vascular Surgery,2014,33.0,13.0,0.0

In [17]:
data_df_total = pd.concat([data_df_total, df_data_2014])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270 entries, 0 to 90
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   provider_type     270 non-null    object
 1   year              270 non-null    int64
 2   line_srcv_median  270 non-null    float64
 3   facility_median   270 non-null    float64
 4   outside_median    270 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 12.7+ KB

In [18]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2015),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2015),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9497892 entries, 0 to 9497891
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.8+ GB

In [19]:
data_df.drop(data_df[data_df['npi'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['nppes_provider_country'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9497891 entries, 1 to 9497891
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [20]:
#data_df['nppes_provider_zip'] = data_df['nppes_provider_zip'].apply(str)
#data_df.info()
#data_df['new_zip'] = data_df['nppes_provider_zip'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['place_of_service']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['place_of_service']]
data_df['facility'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "F", 0)
data_df['outside'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "O", 0)
data_df['year'] = 2015


df_data_2015 = data_df.groupby(['provider_type', 'year']).agg({'line_srvc_cnt': ['median'],
                                                               'facility' : ['median'],
                                                               'outside' : ['median']})
       
df_data_2015

                                      line_srvc_cnt facility outside
                                             median   median  median
provider_type                    year
Addiction Medicine               2015          67.0      0.0    24.5
All Other Suppliers              2015          51.0      0.0    50.0
Allergy/Immunology               2015          80.0      0.0    42.0
Ambulance Service Supplier       2015         278.0    149.0     0.0
Ambulatory Surgical Center       2015          37.0     33.0     0.0
...                                             ...      ...     ...
Thoracic Surgery                 2015          24.0     15.0     0.0
Unknown Physician Specialty Code 2015          40.0     15.0     0.0
Unknown Supplier/Provider        2015          41.0     14.5     0.0
Urology                          2015          42.0      0.0    29.0
Vascular Surgery                 2015          32.0     12.0     0.0

[91 rows x 3 columns]

In [21]:
df_data_2015 = df_data_2015.reset_index()
df_data_2015.columns = ['provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2015

,provider_type,year,line_srcv_median,facility_median,outside_median
0,Addiction Medicine,2015,67.0,0.0,24.5
1,All Other Suppliers,2015,51.0,0.0,50.0
2,Allergy/Immunology,2015,80.0,0.0,42.0
3,Ambulance Service Supplier,2015,278.0,149.0,0.0
4,Ambulatory Surgical Center,2015,37.0,33.0,0.0
...,...,...,...,...,...
86,Thoracic Surgery,2015,24.0,15.0,0.0
87,Unknown Physician Specialty Code,2015,40.0,15.0,0.0
88,Unknown Supplier/Provider,2015,41.0,14.5,0.0
89,Urology,2015,42.0,0.0,29.0
90,Vascular Surgery,2015,32.0,12.0,0.0

In [22]:
data_df_total = pd.concat([data_df_total, df_data_2015])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 361 entries, 0 to 90
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   provider_type     361 non-null    object
 1   year              361 non-null    int64
 2   line_srcv_median  361 non-null    float64
 3   facility_median   361 non-null    float64
 4   outside_median    361 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 16.9+ KB

In [23]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2016),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2016),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9714897 entries, 0 to 9714896
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  AVERAGE_SUBMITTED_CHRG_AMT        float64
 24  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 25  AVERAGE_MEDICARE_STANDARD_AMT     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [24]:
data_df.drop(data_df[data_df['NPI'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['NPPES_PROVIDER_COUNTRY'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9714896 entries, 1 to 9714896
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   NPI                               int64
 1   NPPES_PROVIDER_LAST_ORG_NAME      object
 2   NPPES_PROVIDER_FIRST_NAME         object
 3   NPPES_PROVIDER_MI                 object
 4   NPPES_CREDENTIALS                 object
 5   NPPES_PROVIDER_GENDER             object
 6   NPPES_ENTITY_CODE                 object
 7   NPPES_PROVIDER_STREET1            object
 8   NPPES_PROVIDER_STREET2            object
 9   NPPES_PROVIDER_CITY               object
 10  NPPES_PROVIDER_ZIP                object
 11  NPPES_PROVIDER_STATE              object
 12  NPPES_PROVIDER_COUNTRY            object
 13  PROVIDER_TYPE                     object
 14  MEDICARE_PARTICIPATION_INDICATOR  object
 15  PLACE_OF_SERVICE                  object
 16  HCPCS_CODE                        object
 17  HCPCS_DESCRIPTION                 object
 18  HCPCS_DRUG_INDICATOR              object
 19  LINE_SRVC_CNT                     float64
 20  BENE_UNIQUE_CNT                   float64
 21  BENE_DAY_SRVC_CNT                 float64
 22  AVERAGE_MEDICARE_ALLOWED_AMT      float64
 23  AVERAGE_SUBMITTED_CHRG_AMT        float64
 24  AVERAGE_MEDICARE_PAYMENT_AMT      float64
 25  AVERAGE_MEDICARE_STANDARD_AMT     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 2.0+ GB

In [25]:
#data_df['NPPES_PROVIDER_ZIP'] = data_df['NPPES_PROVIDER_ZIP'].apply(str)
#data_df.info()
#data_df['new_zip'] = data_df['NPPES_PROVIDER_ZIP'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['PLACE_OF_SERVICE']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['PLACE_OF_SERVICE']]
data_df['facility'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "F", 0)
data_df['outside'] = data_df["BENE_DAY_SRVC_CNT"].where(data_df['PLACE_OF_SERVICE'] == "O", 0)
data_df['year'] = 2016


df_data_2016 = data_df.groupby(['PROVIDER_TYPE', 'year']).agg({'LINE_SRVC_CNT': ['median'],
                                                               'facility' : ['median'],
                                                               'outside' : ['median']})
       
df_data_2016

                                         LINE_SRVC_CNT facility outside
                                                median   median  median
PROVIDER_TYPE                       year
Addiction Medicine                  2016          63.0      0.0    27.0
All Other Suppliers                 2016          43.0      0.0    42.0
Allergy/ Immunology                 2016          83.0      0.0    44.0
Ambulance Service Provider          2016         281.0    151.0     0.0
Ambulatory Surgical Center          2016          37.0     33.0     0.0
...                                                ...      ...     ...
Thoracic Surgery                    2016          24.0     15.0     0.0
Undefined Physician type            2016          39.0     15.0     0.0
Unknown Supplier/Provider Specialty 2016          29.0     11.0     0.0
Urology                             2016          42.0      0.0    30.0
Vascular Surgery                    2016          32.0     12.0     0.0

[91 rows x 3 columns]

In [26]:
df_data_2016 = df_data_2016.reset_index()
df_data_2016.columns = ['provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2016

,provider_type,year,line_srcv_median,facility_median,outside_median
0,Addiction Medicine,2016,63.0,0.0,27.0
1,All Other Suppliers,2016,43.0,0.0,42.0
2,Allergy/ Immunology,2016,83.0,0.0,44.0
3,Ambulance Service Provider,2016,281.0,151.0,0.0
4,Ambulatory Surgical Center,2016,37.0,33.0,0.0
...,...,...,...,...,...
86,Thoracic Surgery,2016,24.0,15.0,0.0
87,Undefined Physician type,2016,39.0,15.0,0.0
88,Unknown Supplier/Provider Specialty,2016,29.0,11.0,0.0
89,Urology,2016,42.0,0.0,30.0
90,Vascular Surgery,2016,32.0,12.0,0.0

In [27]:
data_df_total = pd.concat([data_df_total, df_data_2016])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 452 entries, 0 to 90
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   provider_type     452 non-null    object
 1   year              452 non-null    int64
 2   line_srcv_median  452 non-null    float64
 3   facility_median   452 non-null    float64
 4   outside_median    452 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 21.2+ KB

In [28]:
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2017),sep='\t', nrows=50000)
data_df = pd.read_csv(os.path.join("..", "Data", data_file2017),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9847444 entries, 0 to 9847443
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [29]:
data_df.drop(data_df[data_df['npi'] == 1].index, inplace = True)
#data_df.drop(data_df[data_df['nppes_provider_country'] != "US"].index, inplace = True)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9847443 entries, 1 to 9847443
Data columns (total 26 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_last_org_name      object
 2   nppes_provider_first_name         object
 3   nppes_provider_mi                 object
 4   nppes_credentials                 object
 5   nppes_provider_gender             object
 6   nppes_entity_code                 object
 7   nppes_provider_street1            object
 8   nppes_provider_street2            object
 9   nppes_provider_city               object
 10  nppes_provider_zip                object
 11  nppes_provider_state              object
 12  nppes_provider_country            object
 13  provider_type                     object
 14  medicare_participation_indicator  object
 15  place_of_service                  object
 16  hcpcs_code                        object
 17  hcpcs_description                 object
 18  hcpcs_drug_indicator              object
 19  line_srvc_cnt                     float64
 20  bene_unique_cnt                   float64
 21  bene_day_srvc_cnt                 float64
 22  average_Medicare_allowed_amt      float64
 23  average_submitted_chrg_amt        float64
 24  average_Medicare_payment_amt      float64
 25  average_Medicare_standard_amt     float64
dtypes: float64(7), int64(1), object(18)
memory usage: 2.0+ GB

In [30]:
#data_df['nppes_provider_zip'] = data_df['nppes_provider_zip'].apply(str)
#data_df.info()
#data_df['new_zip'] = data_df['nppes_provider_zip'].str[:5]
#data_df['facility'] = [1 if x == "F" else 0 for x in data_df['place_of_service']]
#data_df['outside'] = [1 if x == "O" else 0 for x in data_df['place_of_service']]
data_df['facility'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "F", 0)
data_df['outside'] = data_df["bene_day_srvc_cnt"].where(data_df['place_of_service'] == "O", 0)
data_df['year'] = 2017


df_data_2017 = data_df.groupby(['provider_type', 'year']).agg({'line_srvc_cnt': ['median'],
                                                               'facility' : ['median'],
                                                               'outside' : ['median']})
       
df_data_2017

,,line_srvc_cnt,facility,outside
,,median,median,median
provider_type,year,,,
Addiction Medicine,2017,55.0,0.0,25.0
Advanced Heart Failure and Transplant Cardiology,2017,34.0,23.0,0.0
All Other Suppliers,2017,38.0,0.0,37.0
Allergy/ Immunology,2017,83.0,0.0,44.0
Ambulance Service Provider,2017,279.0,151.0,0.0
...,...,...,...,...
Thoracic Surgery,2017,24.0,15.0,0.0
Undefined Physician type,2017,41.0,25.0,0.0
Unknown Supplier/Provider Specialty,2017,38.0,38.0,0.0
Urology,2017,42.0,0.0,29.0
Vascular Surgery,2017,32.0,11.0,0.0

In [31]:
df_data_2017 = df_data_2017.reset_index()
df_data_2017.columns = ['provider_type', 'year', 'line_srcv_median', 'facility_median', 'outside_median']
df_data_2017

,provider_type,year,line_srcv_median,facility_median,outside_median
0,Addiction Medicine,2017,55.0,0.0,25.0
1,Advanced Heart Failure and Transplant Cardiology,2017,34.0,23.0,0.0
2,All Other Suppliers,2017,38.0,0.0,37.0
3,Allergy/ Immunology,2017,83.0,0.0,44.0
4,Ambulance Service Provider,2017,279.0,151.0,0.0
...,...,...,...,...,...
89,Thoracic Surgery,2017,24.0,15.0,0.0
90,Undefined Physician type,2017,41.0,25.0,0.0
91,Unknown Supplier/Provider Specialty,2017,38.0,38.0,0.0
92,Urology,2017,42.0,0.0,29.0
93,Vascular Surgery,2017,32.0,11.0,0.0

In [32]:
data_df_total = pd.concat([data_df_total, df_data_2017])
data_df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546 entries, 0 to 93
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   provider_type     546 non-null    object
 1   year              546 non-null    int64
 2   line_srcv_median  546 non-null    float64
 3   facility_median   546 non-null    float64
 4   outside_median    546 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 25.6+ KB

In [33]:
data_df_total = data_df_total.fillna(0)
data_df_total

,provider_type,year,line_srcv_median,facility_median,outside_median
0,Addiction Medicine,2012,60.0,0.0,16.0
1,All Other Suppliers,2012,71.5,0.0,68.5
2,Allergy/Immunology,2012,77.0,0.0,41.0
3,Ambulance Service Supplier,2012,283.0,146.0,0.0
4,Ambulatory Surgical Center,2012,38.0,33.0,0.0
...,...,...,...,...,...
89,Thoracic Surgery,2017,24.0,15.0,0.0
90,Undefined Physician type,2017,41.0,25.0,0.0
91,Unknown Supplier/Provider Specialty,2017,38.0,38.0,0.0
92,Urology,2017,42.0,0.0,29.0
93,Vascular Surgery,2017,32.0,11.0,0.0

In [34]:
data_df_total = data_df_total.reset_index(drop = True)
data_df_total

,provider_type,year,line_srcv_median,facility_median,outside_median
0,Addiction Medicine,2012,60.0,0.0,16.0
1,All Other Suppliers,2012,71.5,0.0,68.5
2,Allergy/Immunology,2012,77.0,0.0,41.0
3,Ambulance Service Supplier,2012,283.0,146.0,0.0
4,Ambulatory Surgical Center,2012,38.0,33.0,0.0
...,...,...,...,...,...
541,Thoracic Surgery,2017,24.0,15.0,0.0
542,Undefined Physician type,2017,41.0,25.0,0.0
543,Unknown Supplier/Provider Specialty,2017,38.0,38.0,0.0
544,Urology,2017,42.0,0.0,29.0
545,Vascular Surgery,2017,32.0,11.0,0.0

In [35]:
#Sort output_data by year largest to smallest to match other file.
data_df_total['line_srvc_trigger'] = data_df_total['line_srcv_median'] * 1.25
data_df_total['outside_srvc_trigger'] = data_df_total['outside_median'] * 1.40
data_df_total = data_df_total.sort_values(["year", "provider_type"],  ascending=[False, True])

In [36]:
data_df_total

,provider_type,year,line_srcv_median,facility_median,outside_median,line_srvc_trigger,outside_srvc_trigger
452,Addiction Medicine,2017,55.0,0.0,25.0,68.75,35.0
453,Advanced Heart Failure and Transplant Cardiology,2017,34.0,23.0,0.0,42.50,0.0
454,All Other Suppliers,2017,38.0,0.0,37.0,47.50,51.8
455,Allergy/ Immunology,2017,83.0,0.0,44.0,103.75,61.6
456,Ambulance Service Provider,2017,279.0,151.0,0.0,348.75,0.0
...,...,...,...,...,...,...,...
84,Thoracic Surgery,2012,24.0,15.0,0.0,30.00,0.0
85,Unknown Physician Specialty Code,2012,39.0,0.0,16.0,48.75,22.4
86,Unknown Supplier/Provider,2012,37.0,0.0,21.0,46.25,29.4
87,Urology,2012,44.0,0.0,31.0,55.00,43.4
88,Vascular Surgery,2012,32.0,13.0,0.0,40.00,0.0

In [37]:
output_data_file = "output_data_provider_year.csv"
data_df_total.to_csv(os.path.join("..", "Data", output_data_file), index= False, sep=',')
data_df_total

,provider_type,year,line_srcv_median,facility_median,outside_median,line_srvc_trigger,outside_srvc_trigger
452,Addiction Medicine,2017,55.0,0.0,25.0,68.75,35.0
453,Advanced Heart Failure and Transplant Cardiology,2017,34.0,23.0,0.0,42.50,0.0
454,All Other Suppliers,2017,38.0,0.0,37.0,47.50,51.8
455,Allergy/ Immunology,2017,83.0,0.0,44.0,103.75,61.6
456,Ambulance Service Provider,2017,279.0,151.0,0.0,348.75,0.0
...,...,...,...,...,...,...,...
84,Thoracic Surgery,2012,24.0,15.0,0.0,30.00,0.0
85,Unknown Physician Specialty Code,2012,39.0,0.0,16.0,48.75,22.4
86,Unknown Supplier/Provider,2012,37.0,0.0,21.0,46.25,29.4
87,Urology,2012,44.0,0.0,31.0,55.00,43.4
88,Vascular Surgery,2012,32.0,13.0,0.0,40.00,0.0