In [1]:
import os
import pandas as pd
import numpy as np

# Read the CSV and Perform Basic Data Cleaning

In [2]:
hcpsc_key_file = "top_ten_list.csv"
top10_df = pd.read_csv(os.path.join("..", "Data", hcpsc_key_file),sep=',')
top10_df

  Occurance_top_10 Line_Service_top_10
0            99213               P9603
1            99214               A0425
2            99204               99213
3            99203               99214
4            99212               J1071
5            93000               J0585
6            36415               36415
7            99215               95004
8            96372               Q0138
9            G0008               G0471

In [3]:
input_data_file = "sort_data.txt"
df = pd.read_csv(os.path.join("..", "Data", input_data_file),sep='\t')
#df = pd.read_csv(os.path.join("..", "Data", input_data_file),sep='\t', nrows=50000)

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
#df = df.dropna()
df

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,npi,nppes_provider_gender,nppes_entity_code,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,...,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,year,leie_code,leie
0,1205963402,M,I,ROCKVILLE,2.08521e+08,MD,US,Allergy/Immunology,Y,O,...,N,153.0,13.0,153.0,11.800000,25.000000,7.897516,2012,1128b4,On_List
1,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,93.0,65.0,93.0,129.454731,209.408602,97.705054,2017,1128a1,On_List
2,1952417610,M,I,HOUSTON,7.70813e+08,TX,US,Neurology,Y,O,...,N,36.0,35.0,36.0,40.992778,50.123611,25.856944,2014,1128a1,On_List
3,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,724.0,210.0,724.0,48.580000,150.000000,47.610000,2017,1128a1,On_List
4,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,11.0,11.0,11.0,25.000000,25.000000,6.985455,2017,1128a1,On_List
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56819222,1053396929,M,I,HACKENSACK,76011914,NJ,US,Diagnostic Radiology,Y,F,...,N,11.0,11.0,11.0,40.180000,75.000000,31.500000,2014,None,Not
56819223,1053396929,M,I,HACKENSACK,76011914,NJ,US,Diagnostic Radiology,Y,F,...,N,15.0,13.0,15.0,53.290000,160.000000,41.780000,2014,None,Not
56819224,1053396929,M,I,HACKENSACK,76011914,NJ,US,Diagnostic Radiology,Y,F,...,N,33.0,32.0,33.0,46.360000,151.000000,36.350000,2014,None,Not
56819225,1053396929,M,I,HACKENSACK,76011914,NJ,US,Diagnostic Radiology,Y,O,...,N,46.0,44.0,46.0,299.020000,525.000000,230.607391,2014,None,Not
56819226,1992999874,F,I,MECHANICSVILLE,231161844,VA,US,Internal Medicine,Y,F,...,N,49.0,49.0,49.0,107.980000,262.000000,123.950000,2017,None,Not

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56819227 entries, 0 to 56819226
Data columns (total 22 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_gender             object
 2   nppes_entity_code                 object
 3   nppes_provider_city               object
 4   nppes_provider_zip                object
 5   nppes_provider_state              object
 6   nppes_provider_country            object
 7   provider_type                     object
 8   medicare_participation_indicator  object
 9   place_of_service                  object
 10  hcpcs_code                        object
 11  hcpcs_description                 object
 12  hcpcs_drug_indicator              object
 13  line_srvc_cnt                     float64
 14  bene_unique_cnt                   float64
 15  bene_day_srvc_cnt                 float64
 16  average_Medicare_allowed_amt      float64
 17  average_submitted_chrg_amt        float64
 18  average_Medicare_payment_amt      float64
 19  year                              int64
 20  leie_code                         object
 21  leie                              object
dtypes: float64(6), int64(2), object(14)
memory usage: 9.3+ GB

In [5]:
#new_df = df.loc[(df["leie"] == "On_List"), :]
#df = df.sort_values("leie", ascending=False)

In [6]:
top10_df.rename(columns={"Occurance_top_10": "hcpcs_code"}, inplace = True)
del top10_df['Line_Service_top_10']
top10_df

  hcpcs_code
0      99213
1      99214
2      99204
3      99203
4      99212
5      93000
6      36415
7      99215
8      96372
9      G0008

In [7]:
new_df = pd.merge(df, top10_df, how='inner', on='hcpcs_code')

In [8]:
new_df

,npi,nppes_provider_gender,nppes_entity_code,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,...,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,year,leie_code,leie
0,1790785277,M,I,OCEAN SPRINGS,3.95646e+08,MS,US,Gastroenterology,Y,O,...,N,131.0,127.0,131.0,17.040000,90.000000,12.381374,2012,1128a4,On_List
1,1043319866,M,I,SALINAS,9.39014e+08,CA,US,Cardiology,Y,O,...,N,100.0,96.0,100.0,17.550000,18.446300,13.484800,2014,1128a2,On_List
2,1154498277,M,I,FLUSHING,1.13555e+08,NY,US,Cardiology,Y,O,...,N,97.0,72.0,97.0,18.795670,125.000000,12.438763,2014,1128b16,On_List
3,1265469472,M,I,BRIDGEPORT,2.63309e+08,WV,US,Cardiology,Y,O,...,N,106.0,77.0,106.0,16.880000,60.000000,12.735849,2012,1128b4,On_List
4,1578524237,M,I,TAYLORSVILLE,4.00719e+08,KY,US,Family Practice,Y,O,...,N,12.0,12.0,12.0,15.390000,45.000000,10.338333,2014,1128b4,On_List
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10866678,1053397398,M,I,RALEIGH,276076673,NC,US,Internal Medicine,Y,O,...,N,70.0,19.0,69.0,23.660000,73.000000,16.960000,2014,None,Not
10866679,1053397224,F,I,BELLEVILLE,71094119,NJ,US,Hematology/Oncology,Y,O,...,N,314.0,63.0,305.0,28.780000,33.595541,20.863217,2014,None,Not
10866680,1053397265,M,I,SAN ANTONIO,782122412,TX,US,Allergy/Immunology,Y,O,...,N,570.0,277.0,570.0,23.449175,25.000000,16.649316,2014,None,Not
10866681,1053397356,M,I,MERCHANTVILLE,81092031,NJ,US,Pulmonary Disease,Y,O,...,N,59.0,30.0,59.0,27.590000,45.000000,21.263390,2014,None,Not
10866682,1053397851,M,I,CHICAGO,606162955,IL,US,Urology,Y,O,...,N,28.0,11.0,28.0,26.410000,90.000000,20.710000,2014,None,Not

In [9]:
output_data_file = "top_ten_occurance.txt"
new_df.to_csv(os.path.join("..", "Data", output_data_file), index= False, sep='\t')

In [10]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10866683 entries, 0 to 10866682
Data columns (total 22 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_gender             object
 2   nppes_entity_code                 object
 3   nppes_provider_city               object
 4   nppes_provider_zip                object
 5   nppes_provider_state              object
 6   nppes_provider_country            object
 7   provider_type                     object
 8   medicare_participation_indicator  object
 9   place_of_service                  object
 10  hcpcs_code                        object
 11  hcpcs_description                 object
 12  hcpcs_drug_indicator              object
 13  line_srvc_cnt                     float64
 14  bene_unique_cnt                   float64
 15  bene_day_srvc_cnt                 float64
 16  average_Medicare_allowed_amt      float64
 17  average_submitted_chrg_amt        float64
 18  average_Medicare_payment_amt      float64
 19  year                              int64
 20  leie_code                         object
 21  leie                              object
dtypes: float64(6), int64(2), object(14)
memory usage: 1.9+ GB