In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
input_data_file = "top_ten_occurance.txt"
df = pd.read_csv(os.path.join("..", "Data", input_data_file),sep='\t')

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
#df = df.dropna()
df.head()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,npi,nppes_provider_gender,nppes_entity_code,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,...,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,year,leie_code,leie
0,1790785277,M,I,OCEAN SPRINGS,395645803.0,MS,US,Gastroenterology,Y,O,...,N,131.0,127.0,131.0,17.04000,90.0000,12.381374,2012,1128a4,On_List
1,1043319866,M,I,SALINAS,939013901.0,CA,US,Cardiology,Y,O,...,N,100.0,96.0,100.0,17.55000,18.4463,13.484800,2014,1128a2,On_List
2,1154498277,M,I,FLUSHING,113555128.0,NY,US,Cardiology,Y,O,...,N,97.0,72.0,97.0,18.79567,125.0000,12.438763,2014,1128b16,On_List
3,1265469472,M,I,BRIDGEPORT,263309012.0,WV,US,Cardiology,Y,O,...,N,106.0,77.0,106.0,16.88000,60.0000,12.735849,2012,1128b4,On_List
4,1578524237,M,I,TAYLORSVILLE,400718616.0,KY,US,Family Practice,Y,O,...,N,12.0,12.0,12.0,15.39000,45.0000,10.338333,2014,1128b4,On_List

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866683 entries, 0 to 10866682
Data columns (total 22 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_gender             object
 2   nppes_entity_code                 object
 3   nppes_provider_city               object
 4   nppes_provider_zip                object
 5   nppes_provider_state              object
 6   nppes_provider_country            object
 7   provider_type                     object
 8   medicare_participation_indicator  object
 9   place_of_service                  object
 10  hcpcs_code                        object
 11  hcpcs_description                 object
 12  hcpcs_drug_indicator              object
 13  line_srvc_cnt                     float64
 14  bene_unique_cnt                   float64
 15  bene_day_srvc_cnt                 float64
 16  average_Medicare_allowed_amt      float64
 17  average_submitted_chrg_amt        float64
 18  average_Medicare_payment_amt      float64
 19  year                              int64
 20  leie_code                         object
 21  leie                              object
dtypes: float64(6), int64(2), object(14)
memory usage: 1.8+ GB

In [4]:
df.columns

Index(['npi', 'nppes_provider_gender', 'nppes_entity_code',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt', 'year',
       'leie_code', 'leie'],
      dtype='object')

In [5]:
df['nppes_provider_gender'] = df['nppes_provider_gender'].fillna('O')

In [6]:
#data = df.drop(['npi', 'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',              
#                'nppes_provider_country', 'provider_type', 'hcpcs_code', 'hcpcs_description', 'year', 'leie_code'], axis=1)

data = df.drop(['npi', 'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',              
                'nppes_provider_country', 'provider_type', 'hcpcs_description', 'year', 'leie_code'], axis=1)

data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10866683 entries, 0 to 10866682
Data columns (total 13 columns):
 #   Column                            Dtype
---  ------                            -----
 0   nppes_provider_gender             object
 1   nppes_entity_code                 object
 2   medicare_participation_indicator  object
 3   place_of_service                  object
 4   hcpcs_code                        object
 5   hcpcs_drug_indicator              object
 6   line_srvc_cnt                     float64
 7   bene_unique_cnt                   float64
 8   bene_day_srvc_cnt                 float64
 9   average_Medicare_allowed_amt      float64
 10  average_submitted_chrg_amt        float64
 11  average_Medicare_payment_amt      float64
 12  leie                              object
dtypes: float64(6), object(7)
memory usage: 1.1+ GB

In [7]:
disposition = data["leie"]
disposition_names = ["On_List", "Not"]
data1 = data.drop("leie", axis=1)
feature_names = data1.columns

In [8]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10866683 entries, 0 to 10866682
Data columns (total 12 columns):
 #   Column                            Dtype
---  ------                            -----
 0   nppes_provider_gender             object
 1   nppes_entity_code                 object
 2   medicare_participation_indicator  object
 3   place_of_service                  object
 4   hcpcs_code                        object
 5   hcpcs_drug_indicator              object
 6   line_srvc_cnt                     float64
 7   bene_unique_cnt                   float64
 8   bene_day_srvc_cnt                 float64
 9   average_Medicare_allowed_amt      float64
 10  average_submitted_chrg_amt        float64
 11  average_Medicare_payment_amt      float64
dtypes: float64(6), object(6)
memory usage: 1.1+ GB

In [9]:
disposition.shape

(10866683,)

In [10]:
test_df = data1.loc[(data["nppes_provider_gender"] == "O"), :]
test_df

,nppes_provider_gender,nppes_entity_code,medicare_participation_indicator,place_of_service,hcpcs_code,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt
1255,O,O,Y,O,93000,N,577.0,566.0,577.0,17.100000,65.000000,11.808094
1423,O,O,Y,O,93000,N,42.0,41.0,42.0,18.544048,57.714286,11.801667
2447,O,O,Y,O,93000,N,67.0,65.0,67.0,18.193134,100.000000,14.267015
3252,O,O,Y,O,93000,N,492.0,407.0,492.0,18.039146,60.000000,13.611362
5581,O,O,Y,O,93000,N,483.0,463.0,483.0,20.145921,23.630559,15.643251
...,...,...,...,...,...,...,...,...,...,...,...,...
10741175,O,O,Y,O,96372,N,191.0,39.0,191.0,27.030000,30.000000,21.167225
10747608,O,O,Y,O,96372,N,31.0,21.0,29.0,22.930000,98.994839,18.340645
10806586,O,O,Y,O,96372,N,16.0,11.0,15.0,23.630000,40.000000,15.252500
10811928,O,O,Y,O,96372,N,17.0,13.0,16.0,25.220000,45.000000,9.307059
10843000,O,O,Y,O,96372,N,15.0,15.0,15.0,28.190000,30.000000,16.206667

In [11]:
new_data = pd.get_dummies(data1)
new_data

,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,nppes_provider_gender_F,nppes_provider_gender_M,nppes_provider_gender_O,nppes_entity_code_I,...,hcpcs_code_99203,hcpcs_code_99204,hcpcs_code_99212,hcpcs_code_99213,hcpcs_code_99214,hcpcs_code_99215,hcpcs_code_36415,hcpcs_code_96372,hcpcs_code_G0008,hcpcs_drug_indicator_N
0,131.0,127.0,131.0,17.040000,90.000000,12.381374,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
1,100.0,96.0,100.0,17.550000,18.446300,13.484800,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
2,97.0,72.0,97.0,18.795670,125.000000,12.438763,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
3,106.0,77.0,106.0,16.880000,60.000000,12.735849,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
4,12.0,12.0,12.0,15.390000,45.000000,10.338333,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10866678,70.0,19.0,69.0,23.660000,73.000000,16.960000,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
10866679,314.0,63.0,305.0,28.780000,33.595541,20.863217,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
10866680,570.0,277.0,570.0,23.449175,25.000000,16.649316,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
10866681,59.0,30.0,59.0,27.590000,45.000000,21.263390,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
10866682,28.0,11.0,28.0,26.410000,90.000000,20.710000,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1

In [12]:
new_data.columns

Index(['line_srvc_cnt', 'bene_unique_cnt', 'bene_day_srvc_cnt',
       'average_Medicare_allowed_amt', 'average_submitted_chrg_amt',
       'average_Medicare_payment_amt', 'nppes_provider_gender_F',
       'nppes_provider_gender_M', 'nppes_provider_gender_O',
       'nppes_entity_code_I', 'nppes_entity_code_O',
       'medicare_participation_indicator_N',
       'medicare_participation_indicator_Y', 'place_of_service_F',
       'place_of_service_O', 'hcpcs_code_36415', 'hcpcs_code_93000',
       'hcpcs_code_96372', 'hcpcs_code_99203', 'hcpcs_code_99204',
       'hcpcs_code_99212', 'hcpcs_code_99213', 'hcpcs_code_99214',
       'hcpcs_code_99215', 'hcpcs_code_36415', 'hcpcs_code_96372',
       'hcpcs_code_G0008', 'hcpcs_drug_indicator_N'],
      dtype='object')

In [14]:
#new_data = new_data.drop(['nppes_entity_code_O', 'medicare_participation_indicator_Y', 'place_of_service_O', 'hcpcs_drug_indicator_Y'], axis=1)
new_data = new_data.drop(['nppes_entity_code_O', 'medicare_participation_indicator_Y', 'place_of_service_O'], axis=1)
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10866683 entries, 0 to 10866682
Data columns (total 25 columns):
 #   Column                              Dtype
---  ------                              -----
 0   line_srvc_cnt                       float64
 1   bene_unique_cnt                     float64
 2   bene_day_srvc_cnt                   float64
 3   average_Medicare_allowed_amt        float64
 4   average_submitted_chrg_amt          float64
 5   average_Medicare_payment_amt        float64
 6   nppes_provider_gender_F             uint8
 7   nppes_provider_gender_M             uint8
 8   nppes_provider_gender_O             uint8
 9   nppes_entity_code_I                 uint8
 10  medicare_participation_indicator_N  uint8
 11  place_of_service_F                  uint8
 12  hcpcs_code_36415                    uint8
 13  hcpcs_code_93000                    uint8
 14  hcpcs_code_96372                    uint8
 15  hcpcs_code_99203                    uint8
 16  hcpcs_code_99204                    uint8
 17  hcpcs_code_99212                    uint8
 18  hcpcs_code_99213                    uint8
 19  hcpcs_code_99214                    uint8
 20  hcpcs_code_99215                    uint8
 21  hcpcs_code_36415                    uint8
 22  hcpcs_code_96372                    uint8
 23  hcpcs_code_G0008                    uint8
 24  hcpcs_drug_indicator_N              uint8
dtypes: float64(6), uint8(19)
memory usage: 777.2 MB

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(new_data, disposition, random_state=42)

In [16]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8150012 entries, 7698368 to 6423388
Data columns (total 25 columns):
 #   Column                              Dtype
---  ------                              -----
 0   line_srvc_cnt                       float64
 1   bene_unique_cnt                     float64
 2   bene_day_srvc_cnt                   float64
 3   average_Medicare_allowed_amt        float64
 4   average_submitted_chrg_amt          float64
 5   average_Medicare_payment_amt        float64
 6   nppes_provider_gender_F             uint8
 7   nppes_provider_gender_M             uint8
 8   nppes_provider_gender_O             uint8
 9   nppes_entity_code_I                 uint8
 10  medicare_participation_indicator_N  uint8
 11  place_of_service_F                  uint8
 12  hcpcs_code_36415                    uint8
 13  hcpcs_code_93000                    uint8
 14  hcpcs_code_96372                    uint8
 15  hcpcs_code_99203                    uint8
 16  hcpcs_code_99204                    uint8
 17  hcpcs_code_99212                    uint8
 18  hcpcs_code_99213                    uint8
 19  hcpcs_code_99214                    uint8
 20  hcpcs_code_99215                    uint8
 21  hcpcs_code_36415                    uint8
 22  hcpcs_code_96372                    uint8
 23  hcpcs_code_G0008                    uint8
 24  hcpcs_drug_indicator_N              uint8
dtypes: float64(6), uint8(19)
memory usage: 582.9 MB

In [17]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.997450924311409

In [18]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9987885908893642

In [19]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.2768282372092881, 'hcpcs_drug_indicator'),
 (0.215965874769175, 'place_of_service'),
 (0.19937665440235558, 'hcpcs_code'),
 (0.1160127882257482, 'nppes_entity_code'),
 (0.09113764487657375, 'nppes_provider_gender'),
 (0.091067437590929, 'medicare_participation_indicator'),
 (0.0005533629253309084, 'bene_unique_cnt'),
 (0.0004437160295278741, 'line_srvc_cnt'),
 (0.0003682811160801133, 'average_Medicare_payment_amt'),
 (1.3804055083799005e-05, 'average_submitted_chrg_amt'),
 (1.3779016146774339e-05, 'bene_day_srvc_cnt'),
 (1.3551308572970928e-05, 'average_Medicare_allowed_amt')]