In [4]:
import pandas as pd
import numpy as np
import os

In [5]:
data_file2012 = "PartD_Prescriber_PUF_NPI_Drug_12.txt"
data_file2013 = "PartD_Prescriber_PUF_NPI_Drug_13.txt"
data_file2014 = "PartD_Prescriber_PUF_NPI_Drug_14.txt"
data_file2015 = "PartD_Prescriber_PUF_NPI_Drug_15.txt"
data_file2016 = "PartD_Prescriber_PUF_NPI_Drug_16.txt"
data_file2017 = "PartD_Prescriber_PUF_NPI_Drug_17.txt"

provider_1 = 0
provider_2 = 1568476968

In [20]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t', nrows=100000)
#data_df = pd.read_csv(os.path.join("..", "Data", data_file2017),sep='\t')
# Drop the null rows
#data_df = data_df.dropna()
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   npi                            100000 non-null  int64
 1   nppes_provider_last_org_name   100000 non-null  object
 2   nppes_provider_first_name      99993 non-null   object
 3   nppes_provider_city            100000 non-null  object
 4   nppes_provider_state           100000 non-null  object
 5   specialty_description          100000 non-null  object
 6   description_flag               100000 non-null  object
 7   drug_name                      100000 non-null  object
 8   generic_name                   100000 non-null  object
 9   bene_count                     36482 non-null   float64
 10  total_claim_count              100000 non-null  int64
 11  total_30_day_fill_count        100000 non-null  float64
 12  total_day_supply               100000 non-null  int64
 13  total_drug_cost                100000 non-null  float64
 14  bene_count_ge65                13078 non-null   float64
 15  bene_count_ge65_suppress_flag  86922 non-null   object
 16  total_claim_count_ge65         56739 non-null   float64
 17  ge65_suppress_flag             43261 non-null   object
 18  total_30_day_fill_count_ge65   56739 non-null   float64
 19  total_day_supply_ge65          56739 non-null   float64
 20  total_drug_cost_ge65           56739 non-null   float64
dtypes: float64(8), int64(3), object(10)
memory usage: 16.0+ MB

In [21]:
# Drop the null columns where all values are null
data_df = data_df.dropna(axis='columns', how='all')
# Drop the null rows
#data_df = data_df.dropna()

In [22]:
data_df

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,ISOSORBIDE MONONITRATE ER,ISOSORBIDE MONONITRATE,NaN,...,11.0,307,171.59,NaN,*,NaN,*,NaN,NaN,NaN
1,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,LEVOFLOXACIN,LEVOFLOXACIN,26.0,...,26.0,165,227.10,15.0,NaN,15.0,NaN,15.0,106.0,159.72
2,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,LISINOPRIL,LISINOPRIL,17.0,...,19.0,570,100.37,NaN,#,NaN,#,NaN,NaN,NaN
3,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,METOPROLOL TARTRATE,METOPROLOL TARTRATE,28.0,...,31.0,916,154.65,NaN,#,NaN,#,NaN,NaN,NaN
4,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,PREDNISONE,PREDNISONE,14.0,...,14.0,133,44.72,NaN,*,NaN,*,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1003842998,COMES,IRIS,N KANSAS CITY,MO,Internal Medicine,S,PREDNISONE,PREDNISONE,21.0,...,24.0,410,104.33,NaN,#,NaN,#,NaN,NaN,NaN
99996,1003843004,SCHNEIDER,PAUL,BIRMINGHAM,AL,Pediatric Medicine,S,ALENDRONATE SODIUM,ALENDRONATE SODIUM,NaN,...,20.0,560,145.94,NaN,*,20.0,NaN,20.0,560.0,145.94
99997,1003843004,SCHNEIDER,PAUL,BIRMINGHAM,AL,Pediatric Medicine,S,CELEBREX,CELECOXIB,NaN,...,31.0,930,7369.29,NaN,#,NaN,#,NaN,NaN,NaN
99998,1003843004,SCHNEIDER,PAUL,BIRMINGHAM,AL,Pediatric Medicine,S,EVISTA,RALOXIFENE HCL,NaN,...,15.0,450,2646.87,NaN,*,11.0,NaN,15.0,450.0,2646.87
99999,1003843004,SCHNEIDER,PAUL,BIRMINGHAM,AL,Pediatric Medicine,S,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,NaN,...,16.0,360,211.48,NaN,*,16.0,NaN,16.0,360.0,211.48

In [ ]:
#data_df

In [ ]:
data_df2012 = data_df.loc[(data_df["NPI"] == provider_1) | (data_df["NPI"] == provider_2), :]
data_df2012['year'] = 2012

In [ ]:
data_df2012

In [ ]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2013),sep='\t')
# Drop the null rows
data_df = data_df.dropna()

In [ ]:
data_df2013 = data_df.loc[(data_df["NPI"] == provider_1) | (data_df["NPI"] == provider_2), :]
data_df2013['year'] = 2013
data_df2013

In [ ]:
data_df2013.info()

In [ ]:
data_df_total = pd.concat([data_df2012, data_df2013])
data_df_total.info()

In [ ]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2014),sep='\t')
# Drop the null rows
data_df = data_df.dropna()

In [ ]:
data_df.info()

In [ ]:
data_df.columns

In [ ]:
data_df_total.columns

data_df_total.drop(['STDEV_MEDICARE_ALLOWED_AMT', 'STDEV_SUBMITTED_CHRG_AMT','STDEV_MEDICARE_PAYMENT_AMT'], axis=1, inplace=True)

In [ ]:
data_df_total.columns

In [ ]:
data_df_total.columns = ['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt',
       'year']

data_df_total.columns

In [ ]:
data_df2014 = data_df.loc[(data_df["npi"] == provider_1) | (data_df["npi"] == provider_2), :]
data_df2014['year'] = 2014

data_df2014.drop('average_Medicare_standard_amt', axis=1, inplace=True)


data_df2014.info()

In [ ]:
data_df_total = pd.concat([data_df_total, data_df2014])
data_df_total.info()

In [ ]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2015),sep='\t')
# Drop the null rows
data_df = data_df.dropna()

In [ ]:
data_df2015 = data_df.loc[(data_df["npi"] == provider_1) | (data_df["npi"] == provider_2), :]
data_df2015['year'] = 2015

data_df2015.drop('average_Medicare_standard_amt', axis=1, inplace=True)


data_df2015.info()

In [ ]:
data_df_total = pd.concat([data_df_total, data_df2015])
data_df_total.info()

In [ ]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2016),sep='\t')
# Drop the null rows
data_df = data_df.dropna()

In [ ]:

data_df.info()

In [ ]:
data_df2016 = data_df.loc[(data_df["NPI"] == provider_1) | (data_df["NPI"] == provider_2), :]
data_df2016['year'] = 2016

data_df2016.drop('AVERAGE_MEDICARE_STANDARD_AMT', axis=1, inplace=True)

data_df2016.columns = ['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt',
       'year']

data_df2016.info()

In [ ]:
data_df_total = pd.concat([data_df_total, data_df2016])
data_df_total.info()

In [ ]:
data_df = pd.read_csv(os.path.join("..", "Data", data_file2017),sep='\t')
# Drop the null rows
data_df = data_df.dropna()

In [ ]:
data_df.info()

In [ ]:
data_df2017 = data_df.loc[(data_df["npi"] == provider_1) | (data_df["npi"] == provider_2), :]
data_df2017['year'] = 2017

data_df2017.drop('average_Medicare_standard_amt', axis=1, inplace=True)

In [ ]:
data_df_total = pd.concat([data_df_total, data_df2017])
data_df_total.info()

In [9]:
output_data_file = "output_data_part_d.txt"
data_df.to_csv(os.path.join("..", "Data", output_data_file), index= False, sep='\t')