In [1]:
import os
import pandas as pd
import numpy as np

# Read the CSV and Perform Basic Data Cleaning

In [4]:
input_data_file = "output_data_npi.txt"
#df = pd.read_csv(os.path.join("..", "Data", input_data_file),sep='\t')
df = pd.read_csv(os.path.join("..", "Data", input_data_file),sep='\t', nrows=500000)

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
#df = df.dropna()
df.head()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,npi,nppes_provider_gender,nppes_entity_code,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,...,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,year,leie_code,leie
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,None,Not
1,1003000126,M,I,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,...,N,115.0,112.0,115.0,135.25,199.0,108.115652,2012,None,Not
2,1003000126,M,I,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,...,N,93.0,88.0,93.0,198.59,291.0,158.870000,2012,None,Not
3,1003000126,M,I,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,...,N,111.0,83.0,111.0,38.75,58.0,30.720721,2012,None,Not
4,1003000126,M,I,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,...,N,544.0,295.0,544.0,70.95,105.0,56.655662,2012,None,Not

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 22 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   npi                               500000 non-null  int64
 1   nppes_provider_gender             479999 non-null  object
 2   nppes_entity_code                 499999 non-null  object
 3   nppes_provider_city               499999 non-null  object
 4   nppes_provider_zip                499999 non-null  object
 5   nppes_provider_state              499999 non-null  object
 6   nppes_provider_country            499999 non-null  object
 7   provider_type                     499999 non-null  object
 8   medicare_participation_indicator  499999 non-null  object
 9   place_of_service                  499999 non-null  object
 10  hcpcs_code                        499999 non-null  object
 11  hcpcs_description                 499999 non-null  object
 12  hcpcs_drug_indicator              499999 non-null  object
 13  line_srvc_cnt                     499999 non-null  float64
 14  bene_unique_cnt                   499999 non-null  float64
 15  bene_day_srvc_cnt                 499999 non-null  float64
 16  average_Medicare_allowed_amt      499999 non-null  float64
 17  average_submitted_chrg_amt        499999 non-null  float64
 18  average_Medicare_payment_amt      499999 non-null  float64
 19  year                              500000 non-null  int64
 20  leie_code                         500000 non-null  object
 21  leie                              500000 non-null  object
dtypes: float64(6), int64(2), object(14)
memory usage: 83.9+ MB

In [6]:
#df = df.sort_values(by=["leie", "line_srvc_cnt"], ascending=[False, False]).reset_index(drop=True)

In [7]:
df = df.sort_values("leie", ascending=False)

In [8]:
#df

In [ ]:
output_data_file = "sort_data.txt"
df.to_csv(os.path.join("..", "Data", output_data_file), index= False, sep='\t')

In [ ]:
df