In [1]:
import os
import pandas as pd
import numpy as np

# Read the CSV and Perform Basic Data Cleaning

In [2]:
input_data_file = "sort_data.txt"
df = pd.read_csv(os.path.join("..", "Data", input_data_file),sep='\t')
#df = pd.read_csv(os.path.join("..", "Data", input_data_file),sep='\t', nrows=200000)

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
#df = df.dropna()
df.head()

C:\Users\gleix\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,npi,nppes_provider_gender,nppes_entity_code,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,...,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,year,leie_code,leie
0,1205963402,M,I,ROCKVILLE,2.08521e+08,MD,US,Allergy/Immunology,Y,O,...,N,153.0,13.0,153.0,11.800000,25.000000,7.897516,2012,1128b4,On_List
1,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,93.0,65.0,93.0,129.454731,209.408602,97.705054,2017,1128a1,On_List
2,1952417610,M,I,HOUSTON,7.70813e+08,TX,US,Neurology,Y,O,...,N,36.0,35.0,36.0,40.992778,50.123611,25.856944,2014,1128a1,On_List
3,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,724.0,210.0,724.0,48.580000,150.000000,47.610000,2017,1128a1,On_List
4,1467447557,M,I,FLINT,4.85325e+08,MI,US,Family Practice,Y,O,...,N,11.0,11.0,11.0,25.000000,25.000000,6.985455,2017,1128a1,On_List

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56819227 entries, 0 to 56819226
Data columns (total 22 columns):
 #   Column                            Dtype
---  ------                            -----
 0   npi                               int64
 1   nppes_provider_gender             object
 2   nppes_entity_code                 object
 3   nppes_provider_city               object
 4   nppes_provider_zip                object
 5   nppes_provider_state              object
 6   nppes_provider_country            object
 7   provider_type                     object
 8   medicare_participation_indicator  object
 9   place_of_service                  object
 10  hcpcs_code                        object
 11  hcpcs_description                 object
 12  hcpcs_drug_indicator              object
 13  line_srvc_cnt                     float64
 14  bene_unique_cnt                   float64
 15  bene_day_srvc_cnt                 float64
 16  average_Medicare_allowed_amt      float64
 17  average_submitted_chrg_amt        float64
 18  average_Medicare_payment_amt      float64
 19  year                              int64
 20  leie_code                         object
 21  leie                              object
dtypes: float64(6), int64(2), object(14)
memory usage: 9.3+ GB

In [4]:
#df

In [5]:
df = df.sort_values(by=["leie", "line_srvc_cnt"], ascending=[False, False]).reset_index(drop=True)

In [6]:
df

,npi,nppes_provider_gender,nppes_entity_code,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,...,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,year,leie_code,leie
0,1578549051,NaN,O,TYLER,7.57076e+08,TX,US,Clinical Laboratory,Y,O,...,N,4185264.0,12252.0,90490.0,1.017827,1.019597,1.001511,2013,1128a1,On_List
1,1578549051,NaN,O,TYLER,7.57076e+08,TX,US,Clinical Laboratory,Y,O,...,N,4105955.0,11969.0,91684.0,1.010000,1.010000,1.008547,2012,1128a1,On_List
2,1578549051,NaN,O,TYLER,7.57076e+08,TX,US,Clinical Laboratory,Y,O,...,N,2785681.0,11338.0,72011.0,1.012232,1.012840,0.991368,2014,1128a1,On_List
3,1285651638,NaN,O,WEBSTER,7.75985e+08,TX,US,Clinical Laboratory,Y,O,...,N,779293.0,12041.0,95355.0,1.018693,1.110726,1.001890,2013,1128b7,On_List
4,1285651638,NaN,O,WEBSTER,7.75985e+08,TX,US,Clinical Laboratory,Y,O,...,N,636709.0,12581.0,99115.0,1.009879,1.013322,1.009482,2012,1128b7,On_List
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56819222,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,None,Not
56819223,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,None,Not
56819224,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,None,Not
56819225,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,None,Not
56819226,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,None,Not

In [7]:
output_data_file = "sort_data_v2.txt"
df.loc[0:125000].to_csv(os.path.join("..", "Data", output_data_file), index= False, sep='\t')

In [8]:
df

,npi,nppes_provider_gender,nppes_entity_code,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,...,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,year,leie_code,leie
0,1578549051,NaN,O,TYLER,7.57076e+08,TX,US,Clinical Laboratory,Y,O,...,N,4185264.0,12252.0,90490.0,1.017827,1.019597,1.001511,2013,1128a1,On_List
1,1578549051,NaN,O,TYLER,7.57076e+08,TX,US,Clinical Laboratory,Y,O,...,N,4105955.0,11969.0,91684.0,1.010000,1.010000,1.008547,2012,1128a1,On_List
2,1578549051,NaN,O,TYLER,7.57076e+08,TX,US,Clinical Laboratory,Y,O,...,N,2785681.0,11338.0,72011.0,1.012232,1.012840,0.991368,2014,1128a1,On_List
3,1285651638,NaN,O,WEBSTER,7.75985e+08,TX,US,Clinical Laboratory,Y,O,...,N,779293.0,12041.0,95355.0,1.018693,1.110726,1.001890,2013,1128b7,On_List
4,1285651638,NaN,O,WEBSTER,7.75985e+08,TX,US,Clinical Laboratory,Y,O,...,N,636709.0,12581.0,99115.0,1.009879,1.013322,1.009482,2012,1128b7,On_List
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56819222,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,None,Not
56819223,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,None,Not
56819224,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,None,Not
56819225,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,None,Not
56819226,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,None,Not

In [10]:
# This method is much faster.
df2 = df.iloc[:125001, :]
df2

,npi,nppes_provider_gender,nppes_entity_code,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,...,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,year,leie_code,leie
0,1578549051,NaN,O,TYLER,7.57076e+08,TX,US,Clinical Laboratory,Y,O,...,N,4185264.0,12252.0,90490.0,1.017827,1.019597,1.001511,2013,1128a1,On_List
1,1578549051,NaN,O,TYLER,7.57076e+08,TX,US,Clinical Laboratory,Y,O,...,N,4105955.0,11969.0,91684.0,1.010000,1.010000,1.008547,2012,1128a1,On_List
2,1578549051,NaN,O,TYLER,7.57076e+08,TX,US,Clinical Laboratory,Y,O,...,N,2785681.0,11338.0,72011.0,1.012232,1.012840,0.991368,2014,1128a1,On_List
3,1285651638,NaN,O,WEBSTER,7.75985e+08,TX,US,Clinical Laboratory,Y,O,...,N,779293.0,12041.0,95355.0,1.018693,1.110726,1.001890,2013,1128b7,On_List
4,1285651638,NaN,O,WEBSTER,7.75985e+08,TX,US,Clinical Laboratory,Y,O,...,N,636709.0,12581.0,99115.0,1.009879,1.013322,1.009482,2012,1128b7,On_List
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124996,1356390074,M,I,PUEBLO,810043537,CO,US,Internal Medicine,Y,O,...,Y,19850.0,11.0,128.0,0.028526,0.100000,0.018782,2016,None,Not
124997,1851451041,NaN,O,GREEN VALLEY,856223551,AZ,US,Independent Diagnostic Testing Facility (IDTF),Y,O,...,Y,19850.0,106.0,111.0,0.210375,0.904786,0.164930,2017,None,Not
124998,1770548596,M,I,FOUNTAIN VALLEY,927084019,CA,US,Hematology,Y,O,...,Y,19850.0,55.0,682.0,13.047552,16.154661,10.167013,2017,None,Not
124999,1700877016,NaN,O,HARTWELL,306431117,GA,US,Ambulance Service Supplier,Y,F,...,N,19850.0,592.0,938.0,7.997101,8.000242,6.397681,2012,None,Not
125000,1376587113,NaN,O,HICKSVILLE,118011826,NY,US,Clinical Laboratory,Y,O,...,N,19850.0,14347.0,19850.0,8.874722,58.862079,8.699140,2014,None,Not