In [1]:
# Dependencies

import pandas as pd
import numpy as np

In [2]:
# Read data file and store into pandas data frame.

df = pd.read_csv("2017/Medicare_Provider_Util_Payment_PUF_CY2017/Medicare_Provider_Util_Payment_PUF_CY2017.txt", sep="\t", header=0)

/Users/diegogonzalez/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# Check data

df.dtypes

npi                                   int64
nppes_provider_last_org_name         object
nppes_provider_first_name            object
nppes_provider_mi                    object
nppes_credentials                    object
nppes_provider_gender                object
nppes_entity_code                    object
nppes_provider_street1               object
nppes_provider_street2               object
nppes_provider_city                  object
nppes_provider_zip                   object
nppes_provider_state                 object
nppes_provider_country               object
provider_type                        object
medicare_participation_indicator     object
place_of_service                     object
hcpcs_code                           object
hcpcs_description                    object
hcpcs_drug_indicator                 object
line_srvc_cnt                       float64
bene_unique_cnt                     float64
bene_day_srvc_cnt                   float64
average_Medicare_allowed_amt        float64
average_submitted_chrg_amt          float64
average_Medicare_payment_amt        float64
average_Medicare_standard_amt       float64
dtype: object

In [4]:
# Check Data

len(df)

9847444

In [5]:
# Select only US

df1= df[df.nppes_provider_country == 'US']
df1

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99218,Hospital observation care typically 30 minutes,N,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99219,Hospital observation care typically 50 minutes,N,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99220,Hospital observation care typically 70 minutes...,N,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763
5,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99221,"Initial hospital inpatient care, typically 30 ...",N,16.0,16.0,16.0,101.680000,462.812500,79.710000,80.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9847439,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,99214,Established patient office or other outpatient...,N,248.0,175.0,248.0,116.860000,345.000000,85.637177,80.263065
9847440,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,99223,"Initial hospital inpatient care, typically 70 ...",N,41.0,41.0,41.0,203.400000,496.000000,225.564634,155.800732
9847441,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,99232,"Subsequent hospital inpatient care, typically ...",N,101.0,57.0,101.0,72.480000,176.000000,83.200000,57.390000
9847442,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,99233,"Subsequent hospital inpatient care, typically ...",N,102.0,55.0,102.0,104.760000,254.000000,119.450784,82.450490
9847443,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,99239,"Hospital discharge day management, more than 3...",N,49.0,49.0,49.0,107.980000,262.000000,123.950000,85.540000

In [6]:
# Create ZIP Column

df1['ZIP'] = df1['nppes_provider_zip']
df1.head(5)

<ipython-input-6-83d5433f6691>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['ZIP'] = df1['nppes_provider_zip']

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt,ZIP
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,Hospital observation care discharge,N,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400,2.15022e+08
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,Hospital observation care typically 30 minutes,N,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154,2.15022e+08
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,Hospital observation care typically 50 minutes,N,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385,2.15022e+08
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,Hospital observation care typically 70 minutes...,N,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763,2.15022e+08
5,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,"Initial hospital inpatient care, typically 30 ...",N,16.0,16.0,16.0,101.680000,462.812500,79.710000,80.750000,2.15022e+08

In [7]:
# Check Data

df1.dtypes

npi                                   int64
nppes_provider_last_org_name         object
nppes_provider_first_name            object
nppes_provider_mi                    object
nppes_credentials                    object
nppes_provider_gender                object
nppes_entity_code                    object
nppes_provider_street1               object
nppes_provider_street2               object
nppes_provider_city                  object
nppes_provider_zip                   object
nppes_provider_state                 object
nppes_provider_country               object
provider_type                        object
medicare_participation_indicator     object
place_of_service                     object
hcpcs_code                           object
hcpcs_description                    object
hcpcs_drug_indicator                 object
line_srvc_cnt                       float64
bene_unique_cnt                     float64
bene_day_srvc_cnt                   float64
average_Medicare_allowed_amt        float64
average_submitted_chrg_amt          float64
average_Medicare_payment_amt        float64
average_Medicare_standard_amt       float64
ZIP                                  object
dtype: object

In [8]:
# Check unique ZIPs

df1['ZIP'].unique

<bound method Series.unique of 1          2.15022e+08
2          2.15022e+08
3          2.15022e+08
4          2.15022e+08
5          2.15022e+08
              ...
9847439      981012756
9847440      231161844
9847441      231161844
9847442      231161844
9847443      231161844
Name: ZIP, Length: 9846847, dtype: object>

In [9]:
# Create new dataframe with selected columns

df2 = df1[['ZIP','nppes_provider_state', 'npi', 'place_of_service','provider_type', 'hcpcs_code', 'hcpcs_drug_indicator', 'average_submitted_chrg_amt', 'average_Medicare_payment_amt']]
df2.tail(50)

,ZIP,nppes_provider_state,npi,place_of_service,provider_type,hcpcs_code,hcpcs_drug_indicator,average_submitted_chrg_amt,average_Medicare_payment_amt
9847394,334872768,FL,1992999122,F,Internal Medicine,99238,N,90.000000,59.057870
9847395,334872768,FL,1992999122,O,Internal Medicine,G0179,N,50.000000,32.756786
9847396,334872768,FL,1992999122,O,Internal Medicine,G0180,N,60.000000,43.423800
9847397,334872768,FL,1992999122,O,Internal Medicine,G0328,N,30.000000,21.380000
9847398,334872768,FL,1992999122,O,Internal Medicine,G0402,N,192.000000,168.499333
9847399,334872768,FL,1992999122,O,Internal Medicine,G0403,N,25.000000,10.340000
9847400,334872768,FL,1992999122,O,Internal Medicine,G0439,N,128.498584,118.070255
9847401,333162510,FL,1992999437,F,Emergency Medicine,99284,N,1144.342857,99.901714
9847402,333162510,FL,1992999437,F,Emergency Medicine,99285,N,1775.571429,148.791562
9847403,333162510,FL,1992999437,F,Emergency Medicine,99291,N,2041.081633,190.435714
9847404,44839,OH,1992999452,O,Chiropractic,98941,N,55.000000,28.222688
9847405,920254402,CA,1992999551,O,Internal Medicine,90662,Y,99.000000,48.050000
9847406,920254402,CA,1992999551,O,Internal Medicine,90670,Y,337.000000,183.115000
9847407,920254402,CA,1992999551,O,Internal Medicine,93000,N,36.000000,11.294615
9847408,920254402,CA,1992999551,O,Internal Medicine,99202,N,157.266667,32.669333
9847409,920254402,CA,1992999551,O,Internal Medicine,99203,N,227.000000,64.701071
9847410,920254402,CA,1992999551,O,Internal Medicine,99213,N,153.481405,49.628202
9847411,920254402,CA,1992999551,O,Internal Medicine,99214,N,225.604096,82.309898
9847412,920254402,CA,1992999551,O,Internal Medicine,G0008,N,55.000000,26.833542
9847413,920254402,CA,1992999551,O,Internal Medicine,G0009,N,55.000000,26.904800
9847414,920254402,CA,1992999551,O,Internal Medicine,G0439,N,245.000000,120.450000
9847415,313127134,GA,1992999759,O,Nurse Practitioner,81003,N,6.640000,2.380000
9847416,313127134,GA,1992999759,O,Nurse Practitioner,94640,N,31.900000,12.209130
9847417,313127134,GA,1992999759,O,Nurse Practitioner,99204,N,417.000000,105.406071
9847418,313127134,GA,1992999759,O,Nurse Practitioner,99213,N,183.000000,47.578378
9847419,313127134,GA,1992999759,O,Nurse Practitioner,99214,N,272.000000,68.038870
9847420,313127134,GA,1992999759,O,Nurse Practitioner,J7620,Y,0.700000,0.107667
9847421,974014604,OR,1992999775,F,Ambulatory Surgical Center,62321,N,1500.000000,219.702222
9847422,974014604,OR,1992999775,F,Ambulatory Surgical Center,62323,N,1500.000000,226.542500
9847423,974014604,OR,1992999775,F,Ambulatory Surgical Center,63047,N,7500.000000,2197.769091
9847424,974014604,OR,1992999775,F,Ambulatory Surgical Center,64483,N,1500.000000,248.943030
9847425,974014604,OR,1992999775,F,Ambulatory Surgical Center,G0260,N,1481.818182,196.561515
9847426,981012756,WA,1992999825,F,Otolaryngology,30140,N,1987.500000,558.196667
9847427,981012756,WA,1992999825,F,Otolaryngology,30520,N,1866.000000,289.586667
9847428,981012756,WA,1992999825,O,Otolaryngology,30901,N,284.000000,75.420714
9847429,981012756,WA,1992999825,O,Otolaryngology,31231,N,656.000000,177.033125
9847430,981012756,WA,1992999825,F,Otolaryngology,31575,N,347.000000,48.774737
9847431,981012756,WA,1992999825,O,Otolaryngology,31575,N,347.000000,94.053175
9847432,981012756,WA,1992999825,F,Otolaryngology,69210,N,147.000000,25.320000
9847433,981012756,WA,1992999825,O,Otolaryngology,69210,N,147.000000,37.847308
9847434,981012756,WA,1992999825,F,Otolaryngology,99203,N,143.000000,56.712973
9847435,981012756,WA,1992999825,O,Otolaryngology,99203,N,290.000000,84.541023
9847436,981012756,WA,1992999825,F,Otolaryngology,99204,N,284.000000,102.023614
9847437,981012756,WA,1992999825,O,Otolaryngology,99204,N,431.000000,124.930381
9847438,981012756,WA,1992999825,F,Otolaryngology,99214,N,198.000000,61.235146
9847439,981012756,WA,1992999825,O,Otolaryngology,99214,N,345.000000,85.637177
9847440,231161844,VA,1992999874,F,Internal Medicine,99223,N,496.000000,225.564634
9847441,231161844,VA,1992999874,F,Internal Medicine,99232,N,176.000000,83.200000
9847442,231161844,VA,1992999874,F,Internal Medicine,99233,N,254.000000,119.450784
9847443,231161844,VA,1992999874,F,Internal Medicine,99239,N,262.000000,123.950000

In [10]:
# Check New dataframe

df2.dtypes

ZIP                              object
nppes_provider_state             object
npi                               int64
place_of_service                 object
provider_type                    object
hcpcs_code                       object
hcpcs_drug_indicator             object
average_submitted_chrg_amt      float64
average_Medicare_payment_amt    float64
dtype: object

In [11]:
# Create states list to then exclude US territories

states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
df2 = df2[df2['nppes_provider_state'].isin(states)]
df2

,ZIP,nppes_provider_state,npi,place_of_service,provider_type,hcpcs_code,hcpcs_drug_indicator,average_submitted_chrg_amt,average_Medicare_payment_amt
1,2.15022e+08,MD,1003000126,F,Internal Medicine,99217,N,325.780000,56.827200
2,2.15022e+08,MD,1003000126,F,Internal Medicine,99218,N,449.000000,78.460000
3,2.15022e+08,MD,1003000126,F,Internal Medicine,99219,N,614.000000,102.807692
4,2.15022e+08,MD,1003000126,F,Internal Medicine,99220,N,755.932203,141.293559
5,2.15022e+08,MD,1003000126,F,Internal Medicine,99221,N,462.812500,79.710000
...,...,...,...,...,...,...,...,...,...
9847439,981012756,WA,1992999825,O,Otolaryngology,99214,N,345.000000,85.637177
9847440,231161844,VA,1992999874,F,Internal Medicine,99223,N,496.000000,225.564634
9847441,231161844,VA,1992999874,F,Internal Medicine,99232,N,176.000000,83.200000
9847442,231161844,VA,1992999874,F,Internal Medicine,99233,N,254.000000,119.450784
9847443,231161844,VA,1992999874,F,Internal Medicine,99239,N,262.000000,123.950000

In [12]:
# Clean and sort ZIP codes for merging

df2['ZIP'] = df2['ZIP'].astype(str).str[0:5].map(lambda x: str(x.replace('.','')))
df2['ZIP'] = df2['ZIP'].astype(int)
df2 = df2.dropna()
df2.sort_values(by=['ZIP'], inplace=True)
df2

,ZIP,nppes_provider_state,npi,place_of_service,provider_type,hcpcs_code,hcpcs_drug_indicator,average_submitted_chrg_amt,average_Medicare_payment_amt
1090562,0,MA,1114060506,F,Emergency Medicine,93010,N,35.000000,6.852548
1090567,0,MA,1114060506,F,Emergency Medicine,99292,N,454.000000,90.850000
1090566,0,MA,1114060506,F,Emergency Medicine,99291,N,907.000000,181.084458
1090565,0,MA,1114060506,F,Emergency Medicine,99285,N,699.000000,137.959177
1090564,0,MA,1114060506,F,Emergency Medicine,99284,N,474.000000,90.432771
...,...,...,...,...,...,...,...,...,...
4294412,99929,AK,1437252566,O,Family Practice,82043,N,107.000000,7.770000
4294411,99929,AK,1437252566,O,Family Practice,81003,N,32.120000,3.020000
4294409,99929,AK,1437252566,O,Family Practice,80053,N,86.000000,10.896486
4294407,99929,AK,1437252566,O,Family Practice,36415,N,26.000000,2.940000
8951100,99929,AK,1902921653,F,Ambulance Service Provider,A0425,N,18.666667,8.653725

In [13]:
# Check data

len(df2)

9817212

In [14]:
# Check data

df2.dtypes

ZIP                               int64
nppes_provider_state             object
npi                               int64
place_of_service                 object
provider_type                    object
hcpcs_code                       object
hcpcs_drug_indicator             object
average_submitted_chrg_amt      float64
average_Medicare_payment_amt    float64
dtype: object

In [15]:
# Read ZIP data file and store into pandas data frame

df3 = pd.read_csv('../Final_project_BigData/ZIP-COUNTY-FIPS.csv') 
df3.dtypes

ZIP            int64
COUNTYNAME    object
STATE         object
STCOUNTYFP     int64
CLASSFP       object
dtype: object

In [16]:
# Check data

len(df3)

52889

In [17]:
# Create states list to then exclude US territories

df3 = df3[df3['STATE'].isin(states)]
df3

         ZIP      COUNTYNAME STATE  STCOUNTYFP CLASSFP
0      36003  Autauga County    AL        1001      H1
1      36006  Autauga County    AL        1001      H1
2      36067  Autauga County    AL        1001      H1
3      36066  Autauga County    AL        1001      H1
4      36703  Autauga County    AL        1001      H1
...      ...             ...   ...         ...     ...
52566  82729   Weston County    WY       56045      H1
52567  82730   Weston County    WY       56045      H1
52568  82701   Weston County    WY       56045      H1
52569  82723   Weston County    WY       56045      H1
52570  82715   Weston County    WY       56045      H1

[52571 rows x 5 columns]

In [18]:
# Select column for the merge

df3 = df3[['ZIP','COUNTYNAME']]
df3.sort_values(by=['ZIP'], inplace=True)
df3

<ipython-input-18-9fb1020b0784>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.sort_values(by=['ZIP'], inplace=True)

         ZIP                         COUNTYNAME
32368    501                     Suffolk County
20964   1001                     Hampden County
20940   1002                    Franklin County
21018   1002                   Hampshire County
21028   1003                   Hampshire County
...      ...                                ...
1300   99925  Prince of Wales-Hyder Census Area
1296   99926  Prince of Wales-Hyder Census Area
1295   99927  Prince of Wales-Hyder Census Area
1227   99928          Ketchikan Gateway Borough
1333   99929          Wrangell City and Borough

[52571 rows x 2 columns]

In [19]:
# Check data

df3.dtypes

ZIP            int64
COUNTYNAME    object
dtype: object

In [20]:
# Merge dataframes by Zipcode

dfinal= pd.merge_asof(df2, df3, on='ZIP')

In [21]:
# Sort Data by NPI number

dfinal.sort_values(by=['npi'], inplace=True)
dfinal.head(100)

,ZIP,nppes_provider_state,npi,place_of_service,provider_type,hcpcs_code,hcpcs_drug_indicator,average_submitted_chrg_amt,average_Medicare_payment_amt,COUNTYNAME
1657723,21502,MD,1003000126,F,Internal Medicine,99218,N,449.000000,78.460000,Allegany County
1658028,21502,MD,1003000126,F,Internal Medicine,99291,N,1400.000000,175.750000,Allegany County
1657938,21502,MD,1003000126,F,Internal Medicine,99221,N,462.812500,79.710000,Allegany County
1657939,21502,MD,1003000126,F,Internal Medicine,99223,N,923.991228,160.377193,Allegany County
1658710,21502,MD,1003000126,F,Internal Medicine,99217,N,325.780000,56.827200,Allegany County
...,...,...,...,...,...,...,...,...,...,...
1170274,18951,PA,1003000530,O,Internal Medicine,G0439,N,158.000000,122.440000,Lehigh County
1170267,18951,PA,1003000530,O,Internal Medicine,G0402,N,219.000000,173.630000,Lehigh County
1170396,18951,PA,1003000530,O,Internal Medicine,99214,N,175.000000,75.517558,Lehigh County
1170418,18951,PA,1003000530,O,Internal Medicine,99213,N,120.000000,50.076607,Lehigh County
1170404,18951,PA,1003000530,O,Internal Medicine,G0009,N,30.000000,27.110000,Lehigh County

In [22]:
# Check data

len(dfinal)

9817212

In [23]:
# Create Dataframe 

df_2017 = dfinal.groupby(['nppes_provider_state', 'COUNTYNAME', 'ZIP', 'provider_type', 'place_of_service']).agg({'average_submitted_chrg_amt': ['mean'], 'average_Medicare_payment_amt': ['mean']})
df_2017.columns = ['Avg Submit 2017', 'Avg Payment 2017']
df_2017 = df_2017.reset_index()

df_2017.head()

,nppes_provider_state,COUNTYNAME,ZIP,provider_type,place_of_service,Avg Submit 2017,Avg Payment 2017
0,AK,Aleutians East Borough,99571,Physician Assistant,O,152.672727,38.538189
1,AK,Aleutians East Borough,99612,Nurse Practitioner,O,126.895299,46.545576
2,AK,Aleutians East Borough,99612,Physician Assistant,F,772.062500,58.700309
3,AK,Aleutians West Census Area,99660,Physician Assistant,O,96.193971,41.308062
4,AK,Aleutians West Census Area,99685,Nurse Practitioner,O,312.035088,59.408287

In [24]:
# Check data

len(df_2017)

352258

In [25]:
# Save dataframe as CSV

df_2017.to_csv('2017.csv')